Repository Lightning-Universe/lightning-bolts, pull requests merged in 2020-10, with the labels that each got.

#257 add back RL
  .github/workflows/ci_test-base.yml
  CHANGELOG.md
  docs/source/index.rst
  docs/source/losses.rst
  docs/source/reinforce_learn.rst
  pl_bolts/datamodules/__init__.py
  pl_bolts/datamodules/cifar10_dataset.py
  pl_bolts/datamodules/experience_source.py
  pl_bolts/losses/rl.py
  pl_bolts/models/rl/__init__.py
  pl_bolts/models/rl/common/__init__.py
  pl_bolts/models/rl/common/agents.py
  pl_bolts/models/rl/common/cli.py
  pl_bolts/models/rl/common/gym_wrappers.py
  pl_bolts/models/rl/common/memory.py
  pl_bolts/models/rl/common/networks.py
  pl_bolts/models/rl/double_dqn_model.py
  pl_bolts/models/rl/dqn_model.py
  pl_bolts/models/rl/dueling_dqn_model.py
  pl_bolts/models/rl/noisy_dqn_model.py
  pl_bolts/models/rl/per_dqn_model.py
  pl_bolts/models/rl/reinforce_model.py
  pl_bolts/models/rl/vanilla_policy_gradient_model.py
  pl_bolts/models/vision/__init__.py
  requirements.txt
  requirements/models.txt
  requirements/test.txt
  tests/datamodules/test_experience_sources.py
  tests/losses/test_rl_loss.py
  tests/models/rl/__init__.py
  tests/models/rl/integration/__init__.py
  tests/models/rl/integration/test_policy_models.py
  tests/models/rl/integration/test_value_models.py
  tests/models/rl/test_scripts.py
  tests/models/rl/unit/__init__.py
  tests/models/rl/unit/test_agents.py
  tests/models/rl/unit/test_memory.py
  tests/models/rl/unit/test_reinforce.py
  tests/models/rl/unit/test_vpg.py
  tests/models/rl/unit/test_wrappers.py
  tests/models/test_mnist_templates.py
  tests/models/test_vision_models.py
Labels: enhancement

#271 add symlink to requirements
  requirements.txt
Labels: enhancement

#263 Fix typo in README.md
  README.md
Labels: documentation

#272 move requirements & bug fixing
  .github/workflows/ci_test-base.yml
  .github/workflows/ci_test-full.yml
  .github/workflows/code-format.yml
  .github/workflows/docs-check.yml
  MANIFEST.in
  docs/source/conf.py
  pl_bolts/datasets/__init__.py
  pl_bolts/datasets/dummy_dataset.py
  requirements.txt
  requirements/base.txt
  requirements/devel.txt
  setup.py
  tests/models/test_detection.py
Labels: bug / fix, enhancement

#274 set min requirements PL 1.0
  requirements.txt
Labels: enhancement

#261 Explicitly chain exceptions with `raise ... from ...`
  pl_bolts/callbacks/vision/confused_logit.py
  pl_bolts/datamodules/base_dataset.py
  pl_bolts/datamodules/imagenet_dataset.py
  pl_bolts/datamodules/mnist_dataset.py
  pl_bolts/models/regression/linear_regression.py
  pl_bolts/models/regression/logistic_regression.py
  pl_bolts/models/self_supervised/cpc/cpc_module.py
Labels: enhancement

#275 move datasets to existing package
  .github/workflows/ci_test-base.yml
  pl_bolts/datamodules/__init__.py
  pl_bolts/datamodules/binary_mnist_datamodule.py
  pl_bolts/datamodules/cifar10_datamodule.py
  pl_bolts/datamodules/imagenet_datamodule.py
  pl_bolts/datamodules/kitti_datamodule.py
  pl_bolts/datamodules/ssl_imagenet_datamodule.py
  pl_bolts/datamodules/stl10_datamodule.py
  pl_bolts/datasets/base_dataset.py
  pl_bolts/datasets/cifar10_dataset.py
  pl_bolts/datasets/concat_dataset.py
  pl_bolts/datasets/imagenet_dataset.py
  pl_bolts/datasets/kitti_dataset.py
  pl_bolts/datasets/mnist_dataset.py
  pl_bolts/datasets/ssl_amdim_datasets.py
  pl_bolts/models/self_supervised/amdim/datasets.py
  tests/datamodules/test_dataloader.py
  tests/datamodules/test_datamodules.py
Labels: refactoring

#277 fix SSL hooks fro pl 1.0
  pl_bolts/callbacks/self_supervised.py
  pl_bolts/callbacks/vision/confused_logit.py
  pl_bolts/models/self_supervised/byol/byol_module.py
Labels: bug / fix, tests / CI

#278 consistent class docs
  pl_bolts/callbacks/printing.py
  pl_bolts/callbacks/self_supervised.py
  pl_bolts/callbacks/variational.py
  pl_bolts/callbacks/vision/confused_logit.py
  pl_bolts/callbacks/vision/image_generation.py
  pl_bolts/datamodules/binary_mnist_datamodule.py
  pl_bolts/datamodules/cifar10_datamodule.py
  pl_bolts/datamodules/cityscapes_datamodule.py
  pl_bolts/datamodules/experience_source.py
  pl_bolts/datamodules/fashion_mnist_datamodule.py
  pl_bolts/datamodules/imagenet_datamodule.py
  pl_bolts/datamodules/mnist_datamodule.py
  pl_bolts/datamodules/sklearn_datamodule.py
  pl_bolts/datamodules/stl10_datamodule.py
  pl_bolts/datamodules/vocdetection_datamodule.py
  pl_bolts/datasets/cifar10_dataset.py
  pl_bolts/datasets/dummy_dataset.py
  pl_bolts/datasets/imagenet_dataset.py
  pl_bolts/datasets/kitti_dataset.py
  pl_bolts/datasets/ssl_amdim_datasets.py
  pl_bolts/losses/self_supervised_learning.py
  pl_bolts/models/autoencoders/basic_ae/basic_ae_module.py
  pl_bolts/models/autoencoders/basic_vae/basic_vae_module.py
  pl_bolts/models/detection/faster_rcnn.py
  pl_bolts/models/gans/basic/basic_gan_module.py
  pl_bolts/models/regression/linear_regression.py
  pl_bolts/models/regression/logistic_regression.py
  pl_bolts/models/rl/common/memory.py
  pl_bolts/models/rl/common/networks.py
  pl_bolts/models/rl/dqn_model.py
  pl_bolts/models/rl/dueling_dqn_model.py
  pl_bolts/models/rl/per_dqn_model.py
  pl_bolts/models/rl/reinforce_model.py
  pl_bolts/models/rl/vanilla_policy_gradient_model.py
  pl_bolts/models/self_supervised/amdim/amdim_module.py
  pl_bolts/models/self_supervised/amdim/networks.py
  pl_bolts/models/self_supervised/amdim/transforms.py
  pl_bolts/models/self_supervised/byol/byol_module.py
  pl_bolts/models/self_supervised/cpc/transforms.py
  pl_bolts/models/self_supervised/moco/moco2_module.py
  pl_bolts/models/self_supervised/simclr/transforms.py
  pl_bolts/models/self_supervised/ssl_finetuner.py
  pl_bolts/models/vision/image_gpt/gpt2.py
  pl_bolts/models/vision/image_gpt/igpt_module.py
  pl_bolts/models/vision/pixel_cnn.py
  pl_bolts/models/vision/unet.py
  pl_bolts/optimizers/lars_scheduling.py
  pl_bolts/optimizers/lr_scheduler.py
  pl_bolts/transforms/self_supervised/ssl_transforms.py
  pl_bolts/utils/arguments.py
Labels: documentation

#270 Removed datamodule from an input parameter
  pl_bolts/models/self_supervised/moco/moco2_module.py
  pl_bolts/models/vision/image_gpt/igpt_module.py
  tests/models/self_supervised/test_models.py
  tests/models/test_vision.py
Labels: bug / fix, enhancement, tests / CI

#282 added Attribution-NonCommercial 4.0 International to MOCO
  pl_bolts/models/self_supervised/moco/LICENSE
  pl_bolts/models/self_supervised/moco/moco2_module.py
Labels: documentation

#283 Use `Optional` for arguments set to `None` by default
  pl_bolts/callbacks/printing.py
  pl_bolts/callbacks/self_supervised.py
  pl_bolts/datamodules/cifar10_datamodule.py
  pl_bolts/datamodules/imagenet_datamodule.py
  pl_bolts/datamodules/stl10_datamodule.py
  pl_bolts/datasets/cifar10_dataset.py
  pl_bolts/datasets/ssl_amdim_datasets.py
  pl_bolts/models/rl/dqn_model.py
  pl_bolts/models/self_supervised/amdim/datasets.py
  pl_bolts/models/self_supervised/cpc/cpc_module.py
Labels: PR: ready to go, enhancement

#239 Swav
  docs/source/self_supervised_models.rst
  pl_bolts/models/self_supervised/__init__.py
  pl_bolts/models/self_supervised/amdim/datasets.py
  pl_bolts/models/self_supervised/swav/__init__.py
  pl_bolts/models/self_supervised/swav/swav_finetuner.py
  pl_bolts/models/self_supervised/swav/swav_module.py
  pl_bolts/models/self_supervised/swav/swav_online_eval.py
  pl_bolts/models/self_supervised/swav/swav_resnet.py
  pl_bolts/models/self_supervised/swav/transforms.py
  requirements.txt
  tests/models/self_supervised/test_models.py
  tests/models/self_supervised/test_scripts.py
Labels: bug / fix

#287 docs: Add favicon to docs
  docs/source/conf.py
Labels: documentation, enhancement

#289 ci: prune PEP8 check
  .github/workflows/code-format.yml
Labels: tests / CI

#250 Adds Contibuting.md file
  .github/CONTRIBUTING.md
Labels: documentation, enhancement

#288 fix imports
  docs/source/self_supervised_callbacks.rst
  pl_bolts/callbacks/byol_updates.py
  pl_bolts/callbacks/ssl_online.py
  pl_bolts/models/self_supervised/byol/byol_module.py
  pl_bolts/models/self_supervised/cpc/cpc_module.py
  pl_bolts/models/self_supervised/simclr/simclr_module.py
  pl_bolts/models/self_supervised/swav/swav_online_eval.py
  requirements.txt
  tests/callbacks/test_param_update_callbacks.py
  tests/models/self_supervised/test_models.py
Labels: bug / fix, refactoring

#290 Raise ModuleNotFoundError when unavailable
  pl_bolts/datasets/imagenet_dataset.py
  pl_bolts/datasets/ssl_amdim_datasets.py
  pl_bolts/utils/semi_supervised.py
Labels: enhancement

#292 docs: Add type hints to arguments in `pl_bolts.models`
  pl_bolts/models/autoencoders/basic_ae/basic_ae_module.py
  pl_bolts/models/autoencoders/basic_vae/basic_vae_module.py
  pl_bolts/models/rl/common/networks.py
  pl_bolts/models/rl/double_dqn_model.py
  pl_bolts/models/rl/dqn_model.py
  pl_bolts/models/rl/dueling_dqn_model.py
  pl_bolts/models/rl/noisy_dqn_model.py
  pl_bolts/models/rl/per_dqn_model.py
  pl_bolts/models/rl/reinforce_model.py
  pl_bolts/models/rl/vanilla_policy_gradient_model.py
  pl_bolts/models/self_supervised/cpc/transforms.py
  pl_bolts/models/self_supervised/moco/transforms.py
  pl_bolts/models/self_supervised/resnets.py
  pl_bolts/models/self_supervised/simclr/simclr_module.py
  pl_bolts/models/self_supervised/simclr/transforms.py
  pl_bolts/models/self_supervised/ssl_finetuner.py
  pl_bolts/models/vision/pixel_cnn.py
Labels: documentation, enhancement

#299 update readme
  README.md
Labels: documentation

#300 Fix typo in CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: documentation

#303 Fix imports in datamodules
  pl_bolts/datamodules/__init__.py
  pl_bolts/datamodules/imagenet_datamodule.py
  pl_bolts/datamodules/sklearn_datamodule.py
  pl_bolts/datasets/__init__.py
  pl_bolts/datasets/imagenet_dataset.py
  pl_bolts/datasets/ssl_amdim_datasets.py
  pl_bolts/models/__init__.py
  pl_bolts/models/vision/__init__.py
  pl_bolts/models/vision/segmentation.py
Labels: Priority, bug / fix

#305 docs: Fix `Note:` sections
  pl_bolts/datamodules/kitti_datamodule.py
  pl_bolts/datasets/kitti_dataset.py
  pl_bolts/models/rl/common/cli.py
  pl_bolts/models/rl/dqn_model.py
  pl_bolts/models/rl/reinforce_model.py
  pl_bolts/models/rl/vanilla_policy_gradient_model.py
Labels: documentation

#307 Update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

#308 docs: Add links to pl docs
  docs/source/conf.py
Labels: documentation

#297 Generelize UNet: custom # of input channels (instead of default 3)
  pl_bolts/models/vision/unet.py
Labels: enhancement
