Repository Lightning-Universe/lightning-bolts, pull requests merged in 2020-11, with the labels that each got.

#296 bugfix: adjusted CityScapes DataModule to proper torchvision api
  pl_bolts/datamodules/__init__.py
  pl_bolts/datamodules/cityscapes_datamodule.py
  tests/datamodules/test_datamodules.py
Labels: PR: ready to go, bug / fix

#285 data monitor callbacks
  docs/source/info_callbacks.rst
  pl_bolts/callbacks/__init__.py
  pl_bolts/callbacks/data_monitor.py
  tests/callbacks/test_data_monitor.py
Labels: enhancement

#333 docs: Update arguments of GAN
  pl_bolts/models/gans/basic/basic_gan_module.py
Labels: documentation

#331 bugfix: batch_size for MNISTDataModule
  pl_bolts/datamodules/mnist_datamodule.py
Labels: bug / fix, datamodule

#315 ci: Cache datasets
  .github/workflows/ci_test-full.yml
  pl_bolts/models/mnist_module.py
  tests/__init__.py
  tests/callbacks/test_info_callbacks.py
  tests/callbacks/test_param_update_callbacks.py
  tests/callbacks/test_variational_callbacks.py
  tests/conftest.py
  tests/datamodules/test_dataloader.py
  tests/datamodules/test_datamodules.py
  tests/datamodules/test_sklearn_dataloaders.py
  tests/datasets/test_datasets.py
  tests/models/self_supervised/test_models.py
  tests/models/self_supervised/test_resnets.py
  tests/models/self_supervised/test_scripts.py
  tests/models/test_autoencoders.py
  tests/models/test_classic_ml.py
  tests/models/test_detection.py
  tests/models/test_executable_scripts.py
  tests/models/test_gans.py
  tests/models/test_mnist_templates.py
  tests/models/test_vision.py
  tests/optimizers/test_lr_scheduler.py
  tests/transforms/test_transforms.py
  tests/utils/test_semi_supervised.py
Labels: datamodule, refactoring, tests / CI

#342 CI: do not fail on Codecov upload
  .github/workflows/ci_test-base.yml
  .github/workflows/ci_test-full.yml
Labels: bug / fix, enhancement, tests / CI

#341 unify warnings
  pl_bolts/callbacks/data_monitor.py
  pl_bolts/callbacks/ssl_online.py
  pl_bolts/callbacks/variational.py
  pl_bolts/callbacks/vision/image_generation.py
  pl_bolts/datamodules/binary_mnist_datamodule.py
  pl_bolts/datamodules/cifar10_datamodule.py
  pl_bolts/datamodules/cityscapes_datamodule.py
  pl_bolts/datamodules/fashion_mnist_datamodule.py
  pl_bolts/datamodules/imagenet_datamodule.py
  pl_bolts/datamodules/mnist_datamodule.py
  pl_bolts/datamodules/ssl_imagenet_datamodule.py
  pl_bolts/datamodules/stl10_datamodule.py
  pl_bolts/datamodules/vocdetection_datamodule.py
  pl_bolts/datasets/cifar10_dataset.py
  pl_bolts/datasets/mnist_dataset.py
  pl_bolts/datasets/ssl_amdim_datasets.py
  pl_bolts/models/detection/faster_rcnn.py
  pl_bolts/models/mnist_module.py
  pl_bolts/models/rl/common/gym_wrappers.py
  pl_bolts/models/rl/dqn_model.py
  pl_bolts/models/rl/reinforce_model.py
  pl_bolts/models/rl/vanilla_policy_gradient_model.py
  pl_bolts/models/self_supervised/amdim/datasets.py
  pl_bolts/models/self_supervised/amdim/transforms.py
  pl_bolts/models/self_supervised/cpc/transforms.py
  pl_bolts/models/self_supervised/moco/moco2_module.py
  pl_bolts/models/self_supervised/moco/transforms.py
  pl_bolts/models/self_supervised/resnets.py
  pl_bolts/models/self_supervised/simclr/simclr_module.py
  pl_bolts/models/self_supervised/simclr/transforms.py
  pl_bolts/models/self_supervised/ssl_finetuner.py
  pl_bolts/models/self_supervised/swav/swav_module.py
  pl_bolts/models/self_supervised/swav/transforms.py
  pl_bolts/transforms/dataset_normalizations.py
  pl_bolts/transforms/self_supervised/ssl_transforms.py
  pl_bolts/utils/semi_supervised.py
  pl_bolts/utils/warnings.py
Labels: refactoring

#343 fix test for City data creation
  tests/datamodules/test_datamodules.py
Labels: bug / fix, tests / CI

#234 enable documentation testing
  .github/workflows/docs-check.yml
  docs/source/autoencoders.rst
  docs/source/callbacks.rst
  docs/source/conf.py
Labels: bug / fix, documentation, tests / CI

#332 Decouple DataModules from Models - SegSegment
  pl_bolts/models/vision/segmentation.py
  tests/models/test_vision.py
Labels: 0:] PR: ready to go, datamodule, refactoring

#324 ci: Check import formatting with `isort`
  .github/workflows/code-format.yml
  .pre-commit-config.yaml
  docs/source/conf.py
  pl_bolts/__init__.py
  pl_bolts/callbacks/data_monitor.py
  pl_bolts/callbacks/printing.py
  pl_bolts/datamodules/__init__.py
  pl_bolts/datamodules/binary_mnist_datamodule.py
  pl_bolts/datamodules/experience_source.py
  pl_bolts/datamodules/sklearn_datamodule.py
  pl_bolts/datasets/__init__.py
  pl_bolts/datasets/base_dataset.py
  pl_bolts/datasets/cifar10_dataset.py
  pl_bolts/datasets/dummy_dataset.py
  pl_bolts/losses/rl.py
  pl_bolts/metrics/__init__.py
  pl_bolts/models/__init__.py
  pl_bolts/models/autoencoders/__init__.py
  pl_bolts/models/autoencoders/basic_ae/basic_ae_module.py
  pl_bolts/models/autoencoders/basic_vae/basic_vae_module.py
  pl_bolts/models/gans/basic/basic_gan_module.py
  pl_bolts/models/rl/common/memory.py
  pl_bolts/models/rl/common/networks.py
  pl_bolts/models/rl/dqn_model.py
  pl_bolts/models/rl/per_dqn_model.py
  pl_bolts/models/rl/reinforce_model.py
  pl_bolts/models/rl/vanilla_policy_gradient_model.py
  pl_bolts/models/self_supervised/amdim/__init__.py
  pl_bolts/models/self_supervised/amdim/datasets.py
  pl_bolts/models/self_supervised/byol/byol_module.py
  pl_bolts/models/self_supervised/cpc/__init__.py
  pl_bolts/models/self_supervised/cpc/cpc_finetuner.py
  pl_bolts/models/self_supervised/cpc/cpc_module.py
  pl_bolts/models/self_supervised/cpc/transforms.py
  pl_bolts/models/self_supervised/moco/__init__.py
  pl_bolts/models/self_supervised/moco/moco2_module.py
  pl_bolts/models/self_supervised/moco/transforms.py
  pl_bolts/models/self_supervised/simclr/__init__.py
  pl_bolts/models/self_supervised/simclr/simclr_finetuner.py
  pl_bolts/models/self_supervised/simclr/simclr_module.py
  pl_bolts/models/self_supervised/ssl_finetuner.py
  pl_bolts/models/self_supervised/swav/__init__.py
  pl_bolts/models/self_supervised/swav/swav_finetuner.py
  pl_bolts/models/self_supervised/swav/swav_module.py
  pl_bolts/optimizers/lr_scheduler.py
  pyproject.toml
  requirements/test.txt
  setup.py
  tests/callbacks/test_data_monitor.py
  tests/conftest.py
  tests/datamodules/test_datamodules.py
  tests/datamodules/test_experience_sources.py
  tests/losses/test_rl_loss.py
  tests/models/rl/unit/test_memory.py
  tests/models/self_supervised/test_models.py
  tests/models/self_supervised/test_resnets.py
  tests/models/test_autoencoders.py
  tests/models/test_gans.py
  tests/models/test_vision.py
  tests/transforms/test_transforms.py
Labels: 0:] PR: ready to go, enhancement, tests / CI

#350 fix cyclic imports in self-supervised
  pl_bolts/models/self_supervised/resnets.py
  pl_bolts/utils/self_supervised.py
Labels: bug / fix

#359 docs: Add Changelog
  docs/source/conf.py
  docs/source/index.rst
Labels: documentation

#365 [pytest] add --color=yes
  setup.cfg
Labels: enhancement, tests / CI

#366 [make] create Makefile
  .github/CONTRIBUTING.md
  .run_local_tests.sh
  MANIFEST.in
  Makefile
Labels: enhancement

#360 Update changelog
  CHANGELOG.md
Labels: documentation, enhancement

#363 Fix typo in FileNotFoundError message in imagenet_datamodule
  pl_bolts/datamodules/ssl_imagenet_datamodule.py
Labels: documentation

#367 [isort] fix importing in swav_module
  pl_bolts/models/self_supervised/swav/swav_module.py
Labels: enhancement

#371 Ensure sync across val/test step when using DDP
  pl_bolts/models/self_supervised/ssl_finetuner.py
Labels: Model, Priority, enhancement

#329 simclr fixes
  docs/source/self_supervised_models.rst
  pl_bolts/callbacks/ssl_online.py
  pl_bolts/models/self_supervised/byol/byol_module.py
  pl_bolts/models/self_supervised/byol/models.py
  pl_bolts/models/self_supervised/resnets.py
  pl_bolts/models/self_supervised/simclr/simclr_finetuner.py
  pl_bolts/models/self_supervised/simclr/simclr_module.py
  pl_bolts/models/self_supervised/simclr/transforms.py
  pl_bolts/models/self_supervised/swav/swav_finetuner.py
  pl_bolts/models/self_supervised/swav/swav_module.py
  tests/models/self_supervised/test_models.py
  tests/models/self_supervised/test_scripts.py
Labels: Model, Priority, bug / fix

#378 docs: Fix the link to AMDIM paper
  pl_bolts/models/self_supervised/amdim/amdim_module.py
Labels: documentation

#375 Rename test_executable_scripts.py to test_scripts.py for consistency
  tests/models/test_scripts.py
Labels: refactoring

#377 binary mnist dm fix
  pl_bolts/datamodules/binary_mnist_datamodule.py
  pl_bolts/models/self_supervised/simclr/simclr_finetuner.py
  pl_bolts/models/self_supervised/simclr/simclr_module.py
Labels: 0:] PR: ready to go, bug / fix, datamodule

#390 Update .gitignore
  .gitignore
Labels: tests / CI

#394 Refactor cli arguments of models
  pl_bolts/models/self_supervised/simclr/simclr_finetuner.py
  pl_bolts/models/self_supervised/simclr/simclr_module.py
  pl_bolts/models/self_supervised/swav/swav_finetuner.py
  pl_bolts/models/self_supervised/swav/swav_module.py
  tests/models/self_supervised/test_scripts.py
Labels: enhancement, refactoring

#392 remove private methods in docs
  docs/source/conf.py
Labels: bug / fix, documentation

#389 fix last batch index error reinforce
  pl_bolts/models/rl/reinforce_model.py
Labels: bug / fix

#380 Fix datamodules ImportError and add tests
  pl_bolts/datamodules/experience_source.py
  pl_bolts/datamodules/kitti_datamodule.py
  pl_bolts/datamodules/sklearn_datamodule.py
  pl_bolts/datamodules/vocdetection_datamodule.py
  pl_bolts/datasets/imagenet_dataset.py
  pl_bolts/datasets/kitti_dataset.py
  tests/datamodules/test_imports.py
Labels: bug / fix, datamodule

#404 Upgrade DQN to use .log
  pl_bolts/models/rl/double_dqn_model.py
  pl_bolts/models/rl/dqn_model.py
  pl_bolts/models/rl/per_dqn_model.py
Labels: enhancement, refactoring

#402 fix loss test case for batch size variation
  tests/models/rl/unit/test_reinforce.py
Labels: tests / CI

#386 Decouple DataModules from Models - CPCV2
  pl_bolts/models/self_supervised/cpc/cpc_module.py
  tests/models/self_supervised/test_models.py
Labels: Model, refactoring
