Repository Lightning-Universe/lightning-bolts, pull requests merged in 2020-09, with the labels that each got.

#184 Fix doc for `pl_bolts.models.autoencoders.AE`
  pl_bolts/models/autoencoders/basic_ae/basic_ae_module.py
Labels: documentation

#192 suspend RL (temporary)
  CHANGELOG.md
  docs/source/index.rst
  docs/source/losses.rst
  docs/source/reinforce_learn.rst
  pl_bolts/datamodules/__init__.py
  pl_bolts/datamodules/experience_source.py
  pl_bolts/losses/rl.py
  pl_bolts/models/rl/__init__.py
  pl_bolts/models/rl/common/__init__.py
  pl_bolts/models/rl/common/agents.py
  pl_bolts/models/rl/common/cli.py
  pl_bolts/models/rl/common/memory.py
  pl_bolts/models/rl/common/networks.py
  pl_bolts/models/rl/common/wrappers.py
  pl_bolts/models/rl/double_dqn_model.py
  pl_bolts/models/rl/dqn_model.py
  pl_bolts/models/rl/dueling_dqn_model.py
  pl_bolts/models/rl/noisy_dqn_model.py
  pl_bolts/models/rl/per_dqn_model.py
  pl_bolts/models/rl/reinforce_model.py
  pl_bolts/models/rl/vanilla_policy_gradient_model.py
  tests/datamodules/test_experience_sources.py
  tests/losses/test_rl_loss.py
  tests/models/rl/__init__.py
  tests/models/rl/integration/__init__.py
  tests/models/rl/integration/test_policy_models.py
  tests/models/rl/integration/test_value_models.py
  tests/models/rl/test_scripts.py
  tests/models/rl/unit/__init__.py
  tests/models/rl/unit/test_agents.py
  tests/models/rl/unit/test_memory.py
  tests/models/rl/unit/test_reinforce.py
  tests/models/rl/unit/test_vpg.py
  tests/models/rl/unit/test_wrappers.py
Labels: Priority

#193 fix skipped tests
  pl_bolts/callbacks/self_supervised.py
  pl_bolts/models/self_supervised/byol/byol_module.py
  pl_bolts/models/self_supervised/cpc/__init__.py
  pl_bolts/models/self_supervised/cpc/cpc_module.py
  pl_bolts/models/self_supervised/cpc/networks.py
  tests/models/self_supervised/test_models.py
  tests/models/self_supervised/test_resnets.py
  tests/models/self_supervised/test_scripts.py
  tests/models/test_scripts.py
Labels: tests / CI

#195 weights link for cpc_v2
  docs/source/self_supervised_models.rst
Labels: documentation

#197 updated cpc docs
  docs/source/self_supervised_models.rst
  pl_bolts/models/self_supervised/cpc/cpc_module.py
Labels: documentation

#198 Add output_dim parameter to LinearRegression
  pl_bolts/models/regression/linear_regression.py
Labels: enhancement

#196 Modularize AE & VAE
  pl_bolts/datamodules/mnist_datamodule.py
  pl_bolts/models/__init__.py
  pl_bolts/models/autoencoders/basic_ae/basic_ae_module.py
  pl_bolts/models/autoencoders/basic_ae/components.py
  pl_bolts/models/autoencoders/basic_vae/basic_vae_module.py
  tests/models/test_autoencoders.py
  tests/models/test_executable_scripts.py
Labels: bug / fix, enhancement

#191 Fix max_depth recursion crash in AsynchronousLoader
  pl_bolts/datamodules/async_dataloader.py
Labels: bug / fix

#205 0.9.1rc2 - a couple small bugfixes
  pl_bolts/models/self_supervised/moco/moco2_module.py
  tests/models/self_supervised/test_models.py
  tests/models/test_classic_ml.py
Labels: Priority, bug / fix

#209 updated cpc docs with imagenet
  docs/source/self_supervised_models.rst
Labels: documentation

#204 add seed_everything to ae/vae examples
  pl_bolts/models/autoencoders/basic_ae/basic_ae_module.py
  pl_bolts/models/autoencoders/basic_vae/basic_vae_module.py
Labels: bug / fix

#190 wip Byol update
  pl_bolts/models/self_supervised/byol/byol_module.py
Labels: enhancement

#228 build Docs on master
  .github/workflows/ci-testing.yml
  .github/workflows/code-format.yml
  .github/workflows/docs-check.yml
  .github/workflows/install-pkg.yml
  .github/workflows/pypi-release.yml
Labels: documentation, tests / CI

#230 add correct link for CPCv2 resnet-18
  pl_bolts/utils/pretrained_weights.py
Labels: bug / fix

#231 min Pl requirement
  requirements.txt
Labels: bug / fix, tests / CI

#218 ref: fix fastrcnn test
  tests/models/test_detection.py
Labels: Priority, bug / fix

#233 fixing CI
  .codecov.yml
  .github/workflows/ci_test-full.yml
  requirements/test.txt
Labels: bug / fix, tests / CI

#238 add CI for Win
  .codecov.yml
  .github/workflows/ci_test-full.yml
  README.md
Labels: tests / CI

#236 Fix for SiameseArm has no pooler
  pl_bolts/callbacks/self_supervised.py
  pl_bolts/datamodules/binary_mnist_datamodule.py
  pl_bolts/datamodules/mnist_dataset.py
  pl_bolts/models/self_supervised/byol/models.py
Labels: bug / fix

#241 updated import path for simclr model
  README.md
Labels: documentation

#225 Fix examples for pretrained AE and VAE models
  pl_bolts/models/autoencoders/basic_ae/basic_ae_module.py
  pl_bolts/models/autoencoders/basic_vae/basic_vae_module.py
Labels: documentation

#242 autoencoders update
  docs/source/autoencoders.rst
  pl_bolts/models/autoencoders/basic_ae/basic_ae_module.py
  pl_bolts/models/autoencoders/basic_vae/basic_vae_module.py
  tests/models/test_autoencoders.py
Labels: enhancement

#248 Kitti Datamodule
  pl_bolts/datamodules/__init__.py
  pl_bolts/datamodules/kitti_datamodule.py
  pl_bolts/datamodules/kitti_dataset.py
Labels: datamodule, enhancement

#247 U-net implementation
  pl_bolts/datamodules/__init__.py
  pl_bolts/models/__init__.py
  pl_bolts/models/vision/__init__.py
  pl_bolts/models/vision/unet.py
  tests/models/test_vision_models.py
Labels: enhancement
