Repository Lightning-Universe/lightning-bolts, pull requests merged in 2020-07, with the labels that each got.

#102 Enhancement/changelog
  CHANGELOG.md
Labels: documentation, enhancement

#99 Enhancement/move loss functions
  docs/source/losses.rst
  pl_bolts/losses/rl.py
  pl_bolts/models/rl/double_dqn_model.py
  pl_bolts/models/rl/dqn_model.py
  pl_bolts/models/rl/noisy_dqn_model.py
  pl_bolts/models/rl/per_dqn_model.py
  tests/losses/__init__.py
  tests/losses/test_rl_loss.py
Labels: enhancement

#106 Docs/links
  README.md
  docs/source/_images/gans/__init__.py
  docs/source/_images/gans/basic_gan_dloss.jpg
  docs/source/_images/gans/basic_gan_dloss.png
  docs/source/_images/gans/basic_gan_gloss.jpg
  docs/source/_images/gans/basic_gan_gloss.png
  docs/source/_images/gans/basic_gan_interpolate.jpg
  docs/source/_images/gans/basic_gan_interpolate.png
  docs/source/_images/logos/lightning_icon.svg
  docs/source/_images/logos/lightning_logo-large.svg
  docs/source/_images/logos/lightning_logo-name.svg
  docs/source/_images/logos/lightning_logo.png
  docs/source/_images/logos/lightning_logo.svg
  docs/source/_static/copybutton.js
  docs/source/conf.py
  docs/source/gans.rst
  docs/source/reinforce_learn.rst
Labels: documentation

#86 move Trains logger from PL
  docs/source/conf.py
  docs/source/loggers.rst
  pl_bolts/loggers/__init__.py
  pl_bolts/loggers/trains.py
  requirements.txt
  tests/loggers/__init__.py
  tests/loggers/test_trains.py
  tests/requirements.txt
Labels: lets do it!

#109 Fixed the unused train/val/test Mnist transforms
  pl_bolts/datamodules/fashion_mnist_datamodule.py
  pl_bolts/datamodules/mnist_datamodule.py
Labels: enhancement

#116 Correct typos in introduction_guide.rst
  docs/source/introduction_guide.rst
Labels: documentation

#115 fix for Tests Hanging
  .github/workflows/ci-testing.yml
  pl_bolts/datamodules/mnist_datamodule.py
  tests/models/test_self_supervised.py
Labels: tests / CI

#117 Dummy dataset
  docs/source/datamodules.rst
  pl_bolts/datamodules/__init__.py
  pl_bolts/datamodules/dummy_dataset.py
Labels: enhancement

#119 add CLI tests [wip]
  pl_bolts/models/autoencoders/basic_ae/basic_ae_module.py
  pl_bolts/models/autoencoders/basic_vae/basic_vae_module.py
  pl_bolts/models/gans/basic/basic_gan_module.py
  pl_bolts/models/mnist_module.py
  pl_bolts/models/regression/linear_regression.py
  pl_bolts/models/regression/logistic_regression.py
  pl_bolts/models/rl/double_dqn_model.py
  pl_bolts/models/rl/dqn_model.py
  pl_bolts/models/rl/dueling_dqn_model.py
  pl_bolts/models/rl/n_step_dqn_model.py
  pl_bolts/models/rl/noisy_dqn_model.py
  pl_bolts/models/rl/per_dqn_model.py
  pl_bolts/models/rl/reinforce_model.py
  pl_bolts/models/rl/vanilla_policy_gradient_model.py
  pl_bolts/models/self_supervised/amdim/amdim_module.py
  pl_bolts/models/self_supervised/cpc/cpc_module.py
  pl_bolts/models/self_supervised/moco/moco2_module.py
  pl_bolts/models/self_supervised/simclr/simclr_module.py
  pl_bolts/models/vision/image_gpt/igpt_module.py
  tests/test_scripts.py
Labels: Priority, tests / CI

#127 Add the Asynchronous Dataloader
  CHANGELOG.md
  docs/source/datamodules.rst
  pl_bolts/datamodules/__init__.py
  pl_bolts/datamodules/async_dataloader.py
  tests/datamodules/test_dataloader.py
Labels: enhancement

#130 Use Lightning DataModules
  docs/source/datamodules.rst
  pl_bolts/datamodules/__init__.py
  pl_bolts/datamodules/cifar10_datamodule.py
  pl_bolts/datamodules/fashion_mnist_datamodule.py
  pl_bolts/datamodules/imagenet_datamodule.py
  pl_bolts/datamodules/lightning_datamodule.py
  pl_bolts/datamodules/mnist_datamodule.py
  pl_bolts/datamodules/sklearn_datamodule.py
  pl_bolts/datamodules/ssl_imagenet_datamodule.py
  pl_bolts/datamodules/stl10_datamodule.py
  pl_bolts/models/autoencoders/basic_ae/basic_ae_module.py
  pl_bolts/models/autoencoders/basic_vae/basic_vae_module.py
  pl_bolts/models/gans/basic/basic_gan_module.py
  pl_bolts/models/self_supervised/amdim/amdim_module.py
  pl_bolts/models/self_supervised/cpc/cpc_module.py
  pl_bolts/models/self_supervised/moco/moco2_module.py
  pl_bolts/models/self_supervised/simclr/simclr_module.py
  pl_bolts/models/vision/image_gpt/igpt_module.py
  requirements.txt
  tests/models/test_autoencoders.py
  tests/models/test_self_supervised.py
  tests/optimizers/__init__.py
  tests/optimizers/test_layer_adaptive_scaling.py
Labels: enhancement

#118 Confused logit callback
  docs/source/_images/vision/confused_logit.png
  docs/source/index.rst
  docs/source/variational_callbacks.rst
  docs/source/vision_callbacks.rst
  pl_bolts/callbacks/vision/__init__.py
  pl_bolts/callbacks/vision/confused_logit.py
  setup.cfg
Labels: enhancement
