Repository Lightning-Universe/lightning-bolts, pull requests merged in 2020-06, with the labels that each got.

#37 Documenting based models
  README.md
  docs/source/autoencoders.rst
  docs/source/gans.rst
  docs/source/index.rst
  docs/source/introduction_guide.rst
  docs/source/losses.rst
  docs/source/models.rst
  docs/source/readme.md
  docs/source/self_supervised_models.rst
  docs/source/vision_tasks.rst
  pl_bolts/losses/self_supervised_learning.py
  pl_bolts/models/__init__.py
  pl_bolts/models/autoencoders/__init__.py
  pl_bolts/models/autoencoders/basic_ae/__init__.py
  pl_bolts/models/autoencoders/basic_ae/basic_ae_module.py
  pl_bolts/models/autoencoders/basic_vae/basic_vae_module.py
  pl_bolts/models/gans/basic/basic_gan_module.py
  pl_bolts/models/mnist_module.py
  pl_bolts/models/self_supervised/__init__.py
  pl_bolts/models/self_supervised/cpc/__init__.py
  pl_bolts/models/self_supervised/cpc/cpc_module.py
  pl_bolts/models/self_supervised/moco/moco2_module.py
  pl_bolts/models/vision/faster_rcnn.py
  requirements.txt
  tests/models/self_supervised.py
  tests/models/test_autoencoders.py
  tests/models/test_gans.py
  tests/models/test_mnist_templates.py
Labels: enhancement

#38 coverage
  .github/workflows/ci-testing.yml
  pl_bolts/losses/self_supervised_learning.py
  pl_bolts/models/autoencoders/basic_ae/basic_ae_module.py
  pl_bolts/models/autoencoders/basic_vae/basic_vae_module.py
  pl_bolts/models/gans/basic/basic_gan_module.py
  pl_bolts/models/mnist_module.py
  pl_bolts/models/self_supervised/amdim/amdim_module.py
  pl_bolts/models/self_supervised/amdim/networks.py
  pl_bolts/models/self_supervised/cpc/cpc_module.py
  requirements.txt
  tests/models/self_supervised.py
  tests/models/test_autoencoders.py
  tests/models/test_gans.py
  tests/models/test_mnist_templates.py
  tests/models/test_self_supervised.py
Labels: enhancement

#55 Cleanup imports & fix pkg
  .github/workflows/ci-testing.yml
  MANIFEST.in
  pl_bolts/callbacks/printing.py
  pl_bolts/datamodules/__init__.py
  pl_bolts/datamodules/imagenet_datamodule.py
  pl_bolts/datamodules/lightning_datamodule.py
  pl_bolts/datamodules/mnist_datamodule.py
  pl_bolts/datamodules/sklearn_datamodule.py
  pl_bolts/datamodules/ssl_imagenet_datamodule.py
  pl_bolts/datamodules/stl10_datamodule.py
  pl_bolts/models/autoencoders/basic_vae/basic_vae_module.py
  pl_bolts/models/gans/basic/basic_gan_module.py
  pl_bolts/models/regression/linear_regression.py
  pl_bolts/models/rl/__init__.py
  pl_bolts/models/rl/common/agents.py
  pl_bolts/models/rl/common/experience.py
  pl_bolts/models/rl/common/memory.py
  pl_bolts/models/rl/common/networks.py
  pl_bolts/models/rl/common/wrappers.py
  pl_bolts/models/rl/double_dqn/model.py
  pl_bolts/models/rl/dqn/model.py
  pl_bolts/models/rl/per_dqn/model.py
  pl_bolts/models/rl/reinforce/model.py
  pl_bolts/models/rl/vanilla_policy_gradient/model.py
  pl_bolts/models/self_supervised/__init__.py
  pl_bolts/models/self_supervised/amdim/amdim_module.py
  pl_bolts/models/self_supervised/cpc/cpc_module.py
  pl_bolts/models/self_supervised/moco/moco2_module.py
  pl_bolts/models/self_supervised/simclr/simclr_module.py
  pl_bolts/utils/ssl_utils.py
  tests/datamodules/test_sklearn_dataloaders.py
  tests/models/test_mnist_templates.py
  tests/models/test_rl/integration/test_policy_models.py
  tests/models/test_rl/integration/test_value_models.py
  tests/models/test_rl/unit/test_experience.py
  tests/models/test_rl/unit/test_vpg.py
  tests/models/test_self_supervised.py
Labels: enhancement

#57 Updated rl docs with latest models
  docs/source/rl.rst
Labels: documentation

#56 Clean model params and init args
  pl_bolts/models/rl/common/experience.py
  pl_bolts/models/rl/double_dqn/model.py
  pl_bolts/models/rl/dqn/model.py
  pl_bolts/models/rl/dueling_dqn/model.py
  pl_bolts/models/rl/n_step_dqn/model.py
  pl_bolts/models/rl/noisy_dqn/model.py
  pl_bolts/models/rl/per_dqn/model.py
  pl_bolts/models/rl/reinforce/model.py
  pl_bolts/models/rl/vanilla_policy_gradient/model.py
  tests/models/test_rl/integration/test_policy_models.py
  tests/models/test_rl/integration/test_value_models.py
  tests/models/test_rl/unit/test_memory.py
  tests/models/test_rl/unit/test_reinforce.py
  tests/models/test_rl/unit/test_vpg.py
Labels: enhancement

#54 Datasets
  .github/workflows/ci-testing.yml
  pl_bolts/datamodules/__init__.py
  pl_bolts/datamodules/base_dataset.py
  pl_bolts/datamodules/cifar10_datamodule.py
  pl_bolts/datamodules/cifar10_dataset.py
  pl_bolts/datamodules/imagenet_datamodule.py
  pl_bolts/datamodules/lightning_datamodule.py
  pl_bolts/datamodules/mnist_datamodule.py
  pl_bolts/datamodules/sklearn_datamodule.py
  pl_bolts/datamodules/ssl_imagenet_datamodule.py
  pl_bolts/datamodules/stl10_datamodule.py
  pl_bolts/losses/self_supervised_learning.py
  pl_bolts/models/self_supervised/amdim/amdim_module.py
  pl_bolts/models/self_supervised/amdim/datasets.py
  pl_bolts/models/self_supervised/amdim/ssl_datasets.py
  pl_bolts/models/self_supervised/amdim/transforms.py
  pl_bolts/models/self_supervised/cpc/cpc_module.py
  pl_bolts/models/self_supervised/moco/__init__.py
  pl_bolts/models/self_supervised/simclr/simclr_module.py
  tests/models/test_rl/unit/test_memory.py
  tests/models/test_self_supervised.py
Labels: enhancement, tests / CI

#72 reinforce >> RL
  docs/source/reinforce_learn.rst
  pl_bolts/models/reinforcement/__init__.py
  pl_bolts/models/rl/__init__.py
  pl_bolts/models/rl/common/__init__.py
  pl_bolts/models/rl/common/agents.py
  pl_bolts/models/rl/common/cli.py
  pl_bolts/models/rl/common/experience.py
  pl_bolts/models/rl/common/memory.py
  pl_bolts/models/rl/common/networks.py
  pl_bolts/models/rl/common/wrappers.py
  pl_bolts/models/rl/double_dqn/README.md
  pl_bolts/models/rl/double_dqn/__init__.py
  pl_bolts/models/rl/double_dqn/model.py
  pl_bolts/models/rl/dqn/README.md
  pl_bolts/models/rl/dqn/__init__.py
  pl_bolts/models/rl/dqn/model.py
  pl_bolts/models/rl/dueling_dqn/README.md
  pl_bolts/models/rl/dueling_dqn/__init__.py
  pl_bolts/models/rl/dueling_dqn/model.py
  pl_bolts/models/rl/n_step_dqn/README.md
  pl_bolts/models/rl/n_step_dqn/__init__.py
  pl_bolts/models/rl/n_step_dqn/model.py
  pl_bolts/models/rl/noisy_dqn/README.md
  pl_bolts/models/rl/noisy_dqn/__init__.py
  pl_bolts/models/rl/noisy_dqn/model.py
  pl_bolts/models/rl/per_dqn/README.md
  pl_bolts/models/rl/per_dqn/__init__.py
  pl_bolts/models/rl/per_dqn/model.py
  pl_bolts/models/rl/reinforce/README.md
  pl_bolts/models/rl/reinforce/__init__.py
  pl_bolts/models/rl/reinforce/model.py
  pl_bolts/models/rl/vanilla_policy_gradient/README.md
  pl_bolts/models/rl/vanilla_policy_gradient/__init__.py
  pl_bolts/models/rl/vanilla_policy_gradient/model.py
  tests/models/test_reinforcement/integration/test_policy_models.py
  tests/models/test_reinforcement/integration/test_value_models.py
  tests/models/test_reinforcement/unit/test_agents.py
  tests/models/test_reinforcement/unit/test_experience.py
  tests/models/test_reinforcement/unit/test_memory.py
  tests/models/test_reinforcement/unit/test_reinforce.py
  tests/models/test_reinforcement/unit/test_vpg.py
  tests/models/test_reinforcement/unit/test_wrappers.py
Labels: enhancement

#74 add/update CI
  .circleci/config.yml
  .github/workflows/ci-testing.yml
  .github/workflows/code-format.yml
  .github/workflows/docs-check.yml
  .github/workflows/install-pkg.yml
  README.md
Labels: tests / CI

#73 update codecov
  .github/workflows/ci-testing.yml
  requirements.txt
Labels: documentation, tests / CI

#76 codecov
  .github/workflows/ci-testing.yml
Labels: tests / CI

#70 Remove setting of device in DQN model init
  docs/source/reinforce_learn.rst
  pl_bolts/models/rl/common/agents.py
  pl_bolts/models/rl/common/wrappers.py
  pl_bolts/models/rl/double_dqn/model.py
  pl_bolts/models/rl/dqn/model.py
  pl_bolts/models/rl/dueling_dqn/model.py
  pl_bolts/models/rl/n_step_dqn/model.py
  pl_bolts/models/rl/noisy_dqn/model.py
  pl_bolts/models/rl/per_dqn/model.py
  pl_bolts/models/rl/reinforce/model.py
  pl_bolts/models/rl/vanilla_policy_gradient/model.py
  tests/models/test_reinforcement/integration/test_policy_models.py
  tests/models/test_reinforcement/integration/test_value_models.py
Labels: enhancement

#71 docs & clear RL pkg
  docs/source/reinforce_learn.rst
  pl_bolts/models/rl/__init__.py
  pl_bolts/models/rl/double_dqn/README.md
  pl_bolts/models/rl/double_dqn/model.py
  pl_bolts/models/rl/double_dqn_model.py
  pl_bolts/models/rl/dqn/README.md
  pl_bolts/models/rl/dqn_model.py
  pl_bolts/models/rl/dueling_dqn/README.md
  pl_bolts/models/rl/dueling_dqn/__init__.py
  pl_bolts/models/rl/dueling_dqn/model.py
  pl_bolts/models/rl/dueling_dqn_model.py
  pl_bolts/models/rl/n_step_dqn/README.md
  pl_bolts/models/rl/n_step_dqn/__init__.py
  pl_bolts/models/rl/n_step_dqn/model.py
  pl_bolts/models/rl/n_step_dqn_model.py
  pl_bolts/models/rl/noisy_dqn/README.md
  pl_bolts/models/rl/noisy_dqn/__init__.py
  pl_bolts/models/rl/noisy_dqn/model.py
  pl_bolts/models/rl/noisy_dqn_model.py
  pl_bolts/models/rl/per_dqn/README.md
  pl_bolts/models/rl/per_dqn/__init__.py
  pl_bolts/models/rl/per_dqn/model.py
  pl_bolts/models/rl/per_dqn_model.py
  pl_bolts/models/rl/reinforce/README.md
  pl_bolts/models/rl/reinforce/__init__.py
  pl_bolts/models/rl/reinforce_model.py
  pl_bolts/models/rl/vanilla_policy_gradient/README.md
  pl_bolts/models/rl/vanilla_policy_gradient/__init__.py
  pl_bolts/models/rl/vanilla_policy_gradient_model.py
  tests/models/test_reinforcement/integration/__init__.py
  tests/models/test_reinforcement/unit/__init__.py
  tests/models/test_rl/__init__.py
  tests/models/test_rl/integration/__init__.py
  tests/models/test_rl/integration/test_policy_models.py
  tests/models/test_rl/integration/test_value_models.py
  tests/models/test_rl/unit/__init__.py
  tests/models/test_rl/unit/test_agents.py
  tests/models/test_rl/unit/test_experience.py
  tests/models/test_rl/unit/test_memory.py
  tests/models/test_rl/unit/test_reinforce.py
  tests/models/test_rl/unit/test_vpg.py
  tests/models/test_rl/unit/test_wrappers.py
Labels: documentation

#93 Rl docs update
  .github/workflows/docs-check.yml
  docs/source/_images/rl_benchmark/dqn_ddqn_comparison.jpg
  docs/source/_images/rl_benchmark/pong_double_dqn_baseline_results.jpg
  docs/source/_images/rl_benchmark/pong_dqn_baseline_results.jpg
  docs/source/_images/rl_benchmark/pong_dueling_dqn_comparison.jpg
  docs/source/_images/rl_benchmark/pong_dueling_dqn_results.jpg
  docs/source/_images/rl_benchmark/pong_noisy_dqn_comparison.jpg
  docs/source/_images/rl_benchmark/pong_noisy_dqn_results.jpg
  docs/source/_images/rl_benchmark/pong_nstep_dqn_1.jpg
  docs/source/_images/rl_benchmark/pong_nstep_dqn_2.jpg
  docs/source/_images/rl_benchmark/pong_per_dqn_baseline_results.jpg
  docs/source/_images/rl_benchmark/pong_per_dqn_baseline_v1_results.jpg
  docs/source/_images/rl_benchmark/pong_per_dqn_baseline_v1_results_comp.jpg
  docs/source/_images/rl_benchmark/pong_per_dqn_dqn_comparison.jpg
  docs/source/reinforce_learn.rst
  pl_bolts/models/rl/double_dqn_model.py
  pl_bolts/models/rl/dqn_model.py
  pl_bolts/models/rl/dueling_dqn_model.py
  pl_bolts/models/rl/n_step_dqn_model.py
  pl_bolts/models/rl/noisy_dqn_model.py
  pl_bolts/models/rl/per_dqn_model.py
Labels: documentation
