Repository Lightning-Universe/lightning-bolts, pull requests merged in 2020-12, with the labels that each got.

#344 bugfix: batch_size parameter for DataModules remaining
  docs/source/introduction_guide.rst
  pl_bolts/datamodules/binary_mnist_datamodule.py
  pl_bolts/datamodules/cifar10_datamodule.py
  pl_bolts/datamodules/cityscapes_datamodule.py
  pl_bolts/datamodules/fashion_mnist_datamodule.py
  pl_bolts/datamodules/kitti_datamodule.py
  pl_bolts/datamodules/mnist_datamodule.py
  pl_bolts/datamodules/sklearn_datamodule.py
  pl_bolts/datamodules/ssl_imagenet_datamodule.py
  pl_bolts/datamodules/stl10_datamodule.py
  pl_bolts/models/regression/linear_regression.py
  pl_bolts/models/regression/logistic_regression.py
Labels: Model, bug / fix, datamodule

#415 Fix a typo/copy paste error
  docs/source/reinforce_learn.rst
Labels: 0:] PR: ready to go, documentation

#413 Just a Typo
  docs/source/self_supervised_models.rst
Labels: 0:] PR: ready to go, documentation

#418 Remove unused arguments in FasterRCNN
  pl_bolts/models/detection/faster_rcnn.py
Labels: refactoring

#414 tests: Use cached datasets in LitMNIST and the doctests
  pl_bolts/datasets/cifar10_dataset.py
  tests/callbacks/test_data_monitor.py
Labels: tests / CI

#425 clear replay buffer after trajectory collection
  pl_bolts/models/rl/reinforce_model.py
Labels: Model, bug / fix

#430 bugfix: Add missing imports to pl_bolts/__init__.py
  pl_bolts/__init__.py
Labels: Priority, bug / fix

#432 Fix CIFAR num_samples
  pl_bolts/datamodules/cifar10_datamodule.py
Labels: bug / fix

#433 Add static type checker mypy to the tests and pre-commit hooks
  .github/workflows/code-format.yml
  .pre-commit-config.yaml
  setup.cfg
Labels: 0:] Ready-To-Go, tests / CI

#435 Add type annotations to pl_bolts/__init__.py
  docs/source/conf.py
  pl_bolts/__init__.py
  setup.cfg
  setup.py
Labels: enhancement, refactoring, tests / CI

#437 skip hanging
  tests/models/test_scripts.py
Labels: tests / CI

#438 Option to normalize latent interpolation images
  pl_bolts/callbacks/variational.py
Labels: callback

#449 Warnings fix
  pl_bolts/datamodules/sklearn_datamodule.py
Labels: enhancement

#338 Refactor datamodules/datasets
  pl_bolts/datamodules/__init__.py
  pl_bolts/datamodules/binary_mnist_datamodule.py
  pl_bolts/datamodules/cifar10_datamodule.py
  pl_bolts/datamodules/cityscapes_datamodule.py
  pl_bolts/datamodules/experience_source.py
  pl_bolts/datamodules/fashion_mnist_datamodule.py
  pl_bolts/datamodules/imagenet_datamodule.py
  pl_bolts/datamodules/kitti_datamodule.py
  pl_bolts/datamodules/mnist_datamodule.py
  pl_bolts/datamodules/sklearn_datamodule.py
  pl_bolts/datamodules/ssl_imagenet_datamodule.py
  pl_bolts/datamodules/stl10_datamodule.py
  pl_bolts/datamodules/vocdetection_datamodule.py
  pl_bolts/datasets/cifar10_dataset.py
  pl_bolts/datasets/concat_dataset.py
  pl_bolts/datasets/dummy_dataset.py
  pl_bolts/datasets/imagenet_dataset.py
  pl_bolts/datasets/kitti_dataset.py
  pl_bolts/datasets/mnist_dataset.py
  pl_bolts/datasets/ssl_amdim_datasets.py
  pl_bolts/utils/__init__.py
  pl_bolts/utils/semi_supervised.py
Labels: datamodule, refactoring

#448 update min requirements - PL 1.1.1
  docs/source/conf.py
  pl_bolts/callbacks/variational.py
  pl_bolts/datamodules/binary_mnist_datamodule.py
  pl_bolts/datamodules/cifar10_datamodule.py
  pl_bolts/datamodules/cityscapes_datamodule.py
  pl_bolts/datamodules/experience_source.py
  pl_bolts/datamodules/fashion_mnist_datamodule.py
  pl_bolts/datamodules/imagenet_datamodule.py
  pl_bolts/datamodules/mnist_datamodule.py
  pl_bolts/datamodules/sklearn_datamodule.py
  pl_bolts/datamodules/ssl_imagenet_datamodule.py
  pl_bolts/datamodules/stl10_datamodule.py
  pl_bolts/datamodules/vocdetection_datamodule.py
  pl_bolts/datasets/cifar10_dataset.py
  pl_bolts/datasets/mnist_dataset.py
  pl_bolts/models/rl/common/gym_wrappers.py
  pl_bolts/models/rl/dqn_model.py
  pl_bolts/models/rl/reinforce_model.py
  pl_bolts/models/rl/vanilla_policy_gradient_model.py
  pl_bolts/models/self_supervised/amdim/transforms.py
  pl_bolts/models/self_supervised/cpc/transforms.py
  pl_bolts/models/self_supervised/moco/transforms.py
  pl_bolts/models/self_supervised/simclr/transforms.py
  pl_bolts/models/self_supervised/swav/transforms.py
  pl_bolts/transforms/self_supervised/ssl_transforms.py
  pl_bolts/utils/__init__.py
  requirements.txt
Labels: Priority, bug / fix

#450 Add missing optional packages to `requirements/*.txt`
  pl_bolts/callbacks/vision/confused_logit.py
  requirements/loggers.txt
  requirements/test.txt
Labels: bug / fix

#457 update Isort
  .github/workflows/code-format.yml
  pyproject.toml
Labels: tests / CI

#388 Adding flags to datamodules
  pl_bolts/datamodules/binary_mnist_datamodule.py
  pl_bolts/datamodules/cifar10_datamodule.py
  pl_bolts/datamodules/cityscapes_datamodule.py
  pl_bolts/datamodules/fashion_mnist_datamodule.py
  pl_bolts/datamodules/imagenet_datamodule.py
  pl_bolts/datamodules/kitti_datamodule.py
  pl_bolts/datamodules/mnist_datamodule.py
  pl_bolts/datamodules/sklearn_datamodule.py
  pl_bolts/datamodules/ssl_imagenet_datamodule.py
  pl_bolts/datamodules/stl10_datamodule.py
  pl_bolts/datamodules/vocdetection_datamodule.py
  tests/datamodules/test_sklearn_dataloaders.py
Labels: datamodule

#458 Import gym as optional package to build docs successfully
  pl_bolts/models/rl/common/gym_wrappers.py
  pl_bolts/models/rl/dqn_model.py
Labels: bug / fix

#400 Refactor Vision DataModules
  .pre-commit-config.yaml
  CHANGELOG.md
  pl_bolts/datamodules/binary_mnist_datamodule.py
  pl_bolts/datamodules/cifar10_datamodule.py
  pl_bolts/datamodules/fashion_mnist_datamodule.py
  pl_bolts/datamodules/mnist_datamodule.py
  pl_bolts/datamodules/vision_datamodule.py
  tests/datamodules/test_datamodules.py
  tests/models/test_classic_ml.py
Labels: datamodule, refactoring

#455 Add Type Annotations to pl_bolts/utils/*
  pl_bolts/utils/__init__.py
  pl_bolts/utils/arguments.py
  pl_bolts/utils/pretrained_weights.py
  pl_bolts/utils/self_supervised.py
  pl_bolts/utils/semi_supervised.py
  pl_bolts/utils/shaping.py
  pl_bolts/utils/warnings.py
  setup.cfg
Labels: refactoring

#467 fix/enable: check PEP8 - F841
  pl_bolts/datamodules/vocdetection_datamodule.py
  pl_bolts/models/self_supervised/amdim/amdim_module.py
  pl_bolts/models/self_supervised/amdim/networks.py
  pl_bolts/models/self_supervised/moco/moco2_module.py
  pl_bolts/models/self_supervised/ssl_finetuner.py
  setup.cfg
  tests/models/test_autoencoders.py
  tests/utils/test_arguments.py
Labels: refactoring

#468 fix/enable: check PEP8 - F401
  pl_bolts/callbacks/__init__.py
  pl_bolts/callbacks/vision/__init__.py
  pl_bolts/datasets/imagenet_dataset.py
  pl_bolts/metrics/__init__.py
  pl_bolts/models/__init__.py
  pl_bolts/models/autoencoders/__init__.py
  pl_bolts/models/detection/__init__.py
  pl_bolts/models/gans/__init__.py
  pl_bolts/models/regression/__init__.py
  pl_bolts/models/rl/__init__.py
  pl_bolts/models/self_supervised/__init__.py
  pl_bolts/models/self_supervised/amdim/__init__.py
  pl_bolts/models/self_supervised/cpc/__init__.py
  pl_bolts/models/self_supervised/moco/__init__.py
  pl_bolts/models/self_supervised/simclr/__init__.py
  pl_bolts/models/self_supervised/simclr/simclr_module.py
  pl_bolts/models/self_supervised/swav/__init__.py
  pl_bolts/models/vision/__init__.py
  pl_bolts/optimizers/__init__.py
  pl_bolts/transforms/self_supervised/__init__.py
  pl_bolts/utils/semi_supervised.py
  pl_bolts/utils/warnings.py
  setup.cfg
  tests/callbacks/test_data_monitor.py
  tests/test_smoke.py
Labels: refactoring

#347 Implemented GIoU
  CHANGELOG.md
  docs/source/losses.rst
  pl_bolts/losses/object_detection.py
  pl_bolts/metrics/object_detection.py
  tests/losses/test_object_detection.py
  tests/metrics/__init__.py
  tests/metrics/test_object_detection.py
Labels: enhancement
