Repository Lightning-Universe/lightning-bolts, pull requests merged in 2021-06, with the labels that each got.

#657 Fix broken links and instructions
  .github/CONTRIBUTING.md
  docs/source/callbacks.rst
Labels: 0:] Ready-To-Go, documentation

#626 RL environment req update
  requirements/models.txt
Labels: 0:] Ready-To-Go, refactoring

#652 Fix issue #651 with pretrained_urls on windows
  pl_bolts/models/autoencoders/basic_ae/basic_ae_module.py
  pl_bolts/models/autoencoders/basic_vae/basic_vae_module.py
Labels: model

#655 Fix - Avoid two softmax calls in LogisticRegression
  pl_bolts/models/regression/logistic_regression.py
Labels: 0:] Ready-To-Go, model

#663 Fixed double softmax bug in SSLEvaluator
  pl_bolts/callbacks/ssl_online.py
  pl_bolts/models/self_supervised/evaluator.py
  pl_bolts/models/self_supervised/ssl_finetuner.py
Labels: 0:] Ready-To-Go, callback, model

#637 Added encoder argument to BYOL constructor
  CHANGELOG.md
  pl_bolts/models/self_supervised/byol/byol_module.py
  pl_bolts/models/self_supervised/byol/models.py
Labels: 0:] Ready-To-Go, model

#595 Add type annotations for `plt.models.regression`
  pl_bolts/models/regression/linear_regression.py
  pl_bolts/models/regression/logistic_regression.py
  setup.cfg
Labels: 0:] Ready-To-Go, model, refactoring

#664 Made val & test loss like train loss in LogisticRegression
  pl_bolts/models/regression/logistic_regression.py
Labels: 0:] Ready-To-Go, model

#669 Removing regularisation applied to linear model bias
  pl_bolts/models/regression/linear_regression.py
  pl_bolts/models/regression/logistic_regression.py
Labels: 0:] Ready-To-Go, model

#674 Fix MNIST 404 with torchvision>=0.9.1
  CHANGELOG.md
  pl_bolts/utils/__init__.py
Labels: Priority, bug / fix, datamodule

#453 proximal policy optimization model
  pl_bolts/models/rl/common/networks.py
  pl_bolts/models/rl/ppo_model.py
  tests/models/rl/unit/test_ppo.py
Labels: 0:] Ready-To-Go, model

#677 Fixed redundancy, referenced in issue #643
  pl_bolts/models/rl/common/agents.py
Labels: 0:] Ready-To-Go, model, refactoring
