Repository Lightning-Universe/lightning-bolts, pull requests merged in 2021-05, with the labels that each got.

#636 just clean precommit
  .codecov.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/how-to-question.md
  .github/workflows/docs-check.yml
  .github/workflows/pypi-release.yml
  .update.sh
  CHANGELOG.md
  MANIFEST.in
  README.md
  docs/Makefile
  docs/requirements.txt
  docs/source/installation.rst
  docs/source/reinforce_learn.rst
  docs/source/self_supervised_callbacks.rst
  docs/source/vision_callbacks.rst
  docs/source/vision_tasks.rst
  notebooks/requirements.txt
  pl_bolts/models/self_supervised/moco/LICENSE
  requirements.txt
  requirements/devel.txt
  requirements/models.txt
  requirements/test.txt
Labels: tests / CI

#635 Fix slack link
  .github/CONTRIBUTING.md
  README.md
  docs/source/introduction_guide.rst
Labels: documentation

#634 Pin `sphinx<4.0`
  docs/requirements.txt
Labels: bug / fix, documentation, tests / CI

#629 Replace `load_boston` due to Ethical Issues
  CHANGELOG.md
  README.md
  docs/source/classic_ml.rst
  docs/source/datamodules_sklearn.rst
  docs/source/introduction_guide.rst
  pl_bolts/datamodules/sklearn_datamodule.py
  pl_bolts/models/regression/linear_regression.py
Labels: 0:] Ready-To-Go, datamodule, documentation

#645 Fix type annotation of ExperienceSource.__iter__
  pl_bolts/datamodules/experience_source.py
Labels: datamodule
