Repository Lightning-Universe/lightning-bolts, pull requests merged in 2021-04, with the labels that each got.

#611 Changed key train_loss to val_loss in validation_step's log_dict
  pl_bolts/models/self_supervised/byol/byol_module.py
Labels: model

#617 suppres warnings
  CHANGELOG.md
  pl_bolts/utils/warnings.py
Labels: enhancement

#616 fix typo in PER docs
  docs/source/reinforce_learn.rst
Labels: documentation

#613 Updates all scripts to LARS
  .github/workflows/ci_test-base.yml
  .github/workflows/ci_test-full.yml
  docs/source/self_supervised_models.rst
  pl_bolts/models/self_supervised/byol/byol_module.py
  pl_bolts/models/self_supervised/simclr/simclr_module.py
  pl_bolts/models/self_supervised/simsiam/simsiam_module.py
  pl_bolts/models/self_supervised/swav/swav_module.py
  pl_bolts/optimizers/__init__.py
  pl_bolts/optimizers/lars.py
  pl_bolts/optimizers/lars_scheduling.py
  pl_bolts/optimizers/lr_scheduler.py
  tests/models/test_vision.py
Labels: documentation, model

#623 rename about
  docs/source/conf.py
  pl_bolts/__about__.py
  pl_bolts/__init__.py
  setup.py
Labels: documentation, enhancement

#618 CI: fix tests
  .github/workflows/ci_test-base.yml
  .github/workflows/ci_test-full.yml
  pl_bolts/__about__.py
  requirements.txt
  tests/models/test_classic_ml.py
Labels: tests / CI
