Repository Lightning-Universe/lightning-bolts, pull requests merged in 2021-01, with the labels that each got.

#473 Replace `dict()` with `{}`
  pl_bolts/callbacks/data_monitor.py
  pl_bolts/utils/arguments.py
Labels: 0:] Ready-To-Go, enhancement, refactoring

#477 Refactor `pl_bolts.callbacks`
  pl_bolts/callbacks/__init__.py
  pl_bolts/callbacks/data_monitor.py
  pl_bolts/callbacks/ssl_online.py
  pl_bolts/callbacks/variational.py
  pl_bolts/callbacks/vision/__init__.py
  pl_bolts/utils/__init__.py
Labels: callback, refactoring

#479 Refactor `pl_bolts.models.self_supervised.amdim`
  pl_bolts/models/self_supervised/amdim/__init__.py
  pl_bolts/models/self_supervised/amdim/amdim_module.py
  pl_bolts/models/self_supervised/amdim/datasets.py
  pl_bolts/models/self_supervised/amdim/transforms.py
Labels: refactoring

#481 Refactor the rest of `pl_bolts.models.self_supervised`
  pl_bolts/models/self_supervised/__init__.py
  pl_bolts/models/self_supervised/cpc/__init__.py
  pl_bolts/models/self_supervised/cpc/transforms.py
  pl_bolts/models/self_supervised/moco/transforms.py
  pl_bolts/models/self_supervised/simclr/simclr_finetuner.py
  pl_bolts/models/self_supervised/simclr/transforms.py
  pl_bolts/models/self_supervised/swav/__init__.py
  pl_bolts/models/self_supervised/swav/swav_finetuner.py
  pl_bolts/models/self_supervised/swav/transforms.py
Labels: refactoring

#478 ci: Change the filename of make-docs artifact
  .github/workflows/docs-check.yml
Labels: enhancement, tests / CI

#488 Variable name is not align with meaning
  pl_bolts/models/self_supervised/cpc/cpc_module.py
Labels: enhancement

#319 Update logos
  README.md
  docs/source/_images/logos/bolts_logo.png
  docs/source/_images/logos/lightning_icon.svg
  docs/source/conf.py
Labels: documentation

#483 Update isort config and apply to the codebase
  pl_bolts/models/rl/common/gym_wrappers.py
  pl_bolts/models/rl/common/networks.py
  pyproject.toml
  tests/models/test_autoencoders.py
  tests/utils/test_arguments.py
Labels: refactoring

#492 Add missing `,` to `pl_bolts/models/self_supervised/__init__.py`
  pl_bolts/models/self_supervised/__init__.py
  pl_bolts/models/self_supervised/cpc/__init__.py
  pl_bolts/models/self_supervised/simclr/transforms.py
  pl_bolts/models/self_supervised/swav/__init__.py
Labels: Priority, bug / fix

#491 Remove transitions from docs to comply with warnings from `sphinx-check`
  docs/source/losses.rst
  docs/source/self_supervised_models.rst
  docs/source/transforms.rst
  docs/source/vision_datamodules.rst
Labels: bug / fix, documentation

#474 Update docstring for GIoU metric
  pl_bolts/losses/object_detection.py
  pl_bolts/metrics/object_detection.py
Labels: 0:] Ready-To-Go, documentation

#472 Removes `global` assignment in warnings.py
  pl_bolts/utils/warnings.py
Labels: 0:] Ready-To-Go, refactoring, tests / CI

#444 add types in bolts/callbacks
  .github/workflows/ci_test-base.yml
  .github/workflows/install-pkg.yml
  docs/requirements.txt
  docs/source/conf.py
  pl_bolts/callbacks/byol_updates.py
  pl_bolts/callbacks/data_monitor.py
  pl_bolts/callbacks/printing.py
  pl_bolts/callbacks/ssl_online.py
  pl_bolts/callbacks/variational.py
  pl_bolts/callbacks/vision/confused_logit.py
  pl_bolts/callbacks/vision/image_generation.py
  pl_bolts/utils/__init__.py
  pl_bolts/utils/shaping.py
  setup.cfg
Labels: refactoring

#495 change to type `Any` for `batch` argument
  pl_bolts/callbacks/data_monitor.py
Labels: refactoring

#452 Ssl checkpoints docs
  docs/source/self_supervised_models.rst
  pl_bolts/models/self_supervised/simclr/simclr_finetuner.py
  pl_bolts/models/self_supervised/simclr/simclr_module.py
  pl_bolts/models/self_supervised/swav/swav_module.py
  pl_bolts/optimizers/lars_scheduling.py
  tests/models/rl/test_scripts.py
  tests/models/self_supervised/test_models.py
  tests/models/self_supervised/test_scripts.py
  tests/models/test_gans.py
  tests/models/test_scripts.py
Labels: documentation

#502 Add installation guide to docs
  docs/source/index.rst
  docs/source/installation.rst
Labels: documentation

#509 Add code formatter `yapf` to the tests and pre-commit
  .github/workflows/code-format.yml
  .pre-commit-config.yaml
  .yapfignore
  docs/source/conf.py
  requirements/test.txt
  setup.cfg
  setup.py
Labels: refactoring, tests / CI

#511 Apply `yapf` to `tests` 2/2
  .pre-commit-config.yaml
  .yapfignore
  tests/callbacks/test_data_monitor.py
  tests/callbacks/test_info_callbacks.py
  tests/callbacks/test_variational_callbacks.py
  tests/datamodules/test_datamodules.py
  tests/datamodules/test_experience_sources.py
  tests/datamodules/test_imports.py
  tests/datamodules/test_sklearn_dataloaders.py
  tests/losses/test_object_detection.py
  tests/metrics/test_object_detection.py
  tests/models/rl/integration/test_policy_models.py
  tests/models/rl/integration/test_value_models.py
  tests/models/rl/test_scripts.py
  tests/models/rl/unit/test_reinforce.py
  tests/models/rl/unit/test_vpg.py
  tests/models/self_supervised/test_models.py
  tests/models/self_supervised/test_resnets.py
  tests/models/self_supervised/test_scripts.py
  tests/models/test_autoencoders.py
  tests/models/test_gans.py
  tests/models/test_mnist_templates.py
  tests/models/test_scripts.py
  tests/models/test_vision.py
  tests/optimizers/test_lr_scheduler.py
  tests/transforms/test_transforms.py
  tests/utils/test_arguments.py
  tests/utils/test_semi_supervised.py
Labels: refactoring

#506 Upgrade min. version of pytest to fix duplicated lines from `test_logistic_regression_model`
  requirements/test.txt
Labels: tests / CI

#501 Add the section of learning rate schedulers to docs
  docs/.build_docs.sh
  docs/source/index.rst
  docs/source/learning_rate_schedulers.rst
Labels: documentation

#503 Remove README from docs
  docs/source/conf.py
  docs/source/index.rst
Labels: documentation

#514 update setup with PL
  docs/source/conf.py
  setup.py
Labels: refactoring

#515 [RFC] Automatically label PRs
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: tests / CI

#407 SimSiam
  .github/workflows/code-format.yml
  CHANGELOG.md
  pl_bolts/callbacks/knn_online.py
  pl_bolts/models/self_supervised/__init__.py
  pl_bolts/models/self_supervised/simsiam/__init__.py
  pl_bolts/models/self_supervised/simsiam/models.py
  pl_bolts/models/self_supervised/simsiam/simsiam_module.py
  requirements/test.txt
  tests/models/self_supervised/test_models.py
  tests/models/self_supervised/test_scripts.py
Labels: Priority, model

#521 update workers - hanging tests
  pl_bolts/models/regression/logistic_regression.py
  pl_bolts/models/self_supervised/amdim/amdim_module.py
  pl_bolts/models/self_supervised/byol/byol_module.py
  tests/models/rl/test_scripts.py
  tests/models/self_supervised/test_scripts.py
  tests/models/test_gans.py
  tests/models/test_scripts.py
Labels: Priority, bug / fix, model

#522 CI: enable py 3.8 suspend Win
  .github/workflows/ci_test-full.yml
  README.md
Labels: tests / CI

#465 gradient verification callback
  CHANGELOG.md
  docs/source/info_callbacks.rst
  pl_bolts/callbacks/__init__.py
  pl_bolts/callbacks/data_monitor.py
  pl_bolts/callbacks/verification/__init__.py
  pl_bolts/callbacks/verification/base.py
  pl_bolts/callbacks/verification/batch_gradient.py
  pl_bolts/utils/__init__.py
  tests/callbacks/verification/__init__.py
  tests/callbacks/verification/test_base.py
  tests/callbacks/verification/test_batch_gradient.py
Labels: 0:] Ready-To-Go, callback, enhancement

#494 Update TensorboardGenerativeModelImageSampler args
  CHANGELOG.md
  pl_bolts/callbacks/vision/image_generation.py
Labels: callback, enhancement

#475 Adds Backbones to FRCNN Take 2
  CHANGELOG.md
  pl_bolts/datasets/dummy_dataset.py
  pl_bolts/models/detection/__init__.py
  pl_bolts/models/detection/components/__init__.py
  pl_bolts/models/detection/components/_supported_models.py
  pl_bolts/models/detection/components/torchvision_backbones.py
  pl_bolts/models/detection/faster_rcnn/__init__.py
  pl_bolts/models/detection/faster_rcnn/backbones.py
  pl_bolts/models/detection/faster_rcnn/faster_rcnn_module.py
  tests/models/test_detection.py
Labels: 0:] Ready-To-Go, model

#497 Refactor transforms in VOC
  pl_bolts/datamodules/vocdetection_datamodule.py
Labels: 0:] Ready-To-Go, refactoring

#498 check in unet constructor that num_layers > 0
  pl_bolts/models/vision/unet.py
Labels: 0:] Ready-To-Go, enhancement, model

#523 Minor refactors - datasets/datamodules/optimizers/transforms/metrics/utils
  pl_bolts/datamodules/binary_mnist_datamodule.py
  pl_bolts/datamodules/cifar10_datamodule.py
  pl_bolts/datamodules/cityscapes_datamodule.py
  pl_bolts/datamodules/fashion_mnist_datamodule.py
  pl_bolts/datamodules/imagenet_datamodule.py
  pl_bolts/datamodules/mnist_datamodule.py
  pl_bolts/datamodules/sklearn_datamodule.py
  pl_bolts/datamodules/ssl_imagenet_datamodule.py
  pl_bolts/datamodules/stl10_datamodule.py
  pl_bolts/datamodules/vocdetection_datamodule.py
  pl_bolts/datasets/cifar10_dataset.py
  pl_bolts/datasets/kitti_dataset.py
  pl_bolts/datasets/mnist_dataset.py
  pl_bolts/datasets/ssl_amdim_datasets.py
  pl_bolts/metrics/__init__.py
  pl_bolts/optimizers/__init__.py
  pl_bolts/transforms/dataset_normalizations.py
  pl_bolts/utils/pretrained_weights.py
  pl_bolts/utils/self_supervised.py
  pl_bolts/utils/semi_supervised.py
Labels: 0:] Ready-To-Go, refactoring

#517 removed flag from simclr/swav
  pl_bolts/models/self_supervised/simclr/simclr_module.py
  pl_bolts/models/self_supervised/simsiam/simsiam_module.py
  pl_bolts/models/self_supervised/swav/swav_module.py
  tests/models/rl/test_scripts.py
  tests/models/self_supervised/test_scripts.py
Labels: 0:] Ready-To-Go, Priority, bug / fix, model

#525 fixes DQN run_n_episodes using the wrong environment variable
  CHANGELOG.md
  pl_bolts/models/rl/dqn_model.py
Labels: 0:] Ready-To-Go, model

#524 Minor refactors - cleaning models
  pl_bolts/__init__.py
  pl_bolts/callbacks/knn_online.py
  pl_bolts/callbacks/vision/confused_logit.py
  pl_bolts/callbacks/vision/image_generation.py
  pl_bolts/models/__init__.py
  pl_bolts/models/autoencoders/__init__.py
  pl_bolts/models/detection/__init__.py
  pl_bolts/models/detection/faster_rcnn/faster_rcnn_module.py
  pl_bolts/models/gans/__init__.py
  pl_bolts/models/gans/dcgan/dcgan_module.py
  pl_bolts/models/mnist_module.py
  pl_bolts/models/regression/__init__.py
  pl_bolts/models/regression/linear_regression.py
  pl_bolts/models/regression/logistic_regression.py
  pl_bolts/models/rl/__init__.py
  pl_bolts/models/rl/common/gym_wrappers.py
  pl_bolts/models/rl/dqn_model.py
  pl_bolts/models/rl/reinforce_model.py
  pl_bolts/models/rl/vanilla_policy_gradient_model.py
  pl_bolts/models/self_supervised/amdim/transforms.py
  pl_bolts/models/self_supervised/cpc/cpc_finetuner.py
  pl_bolts/models/self_supervised/cpc/cpc_module.py
  pl_bolts/models/self_supervised/moco/moco2_module.py
  pl_bolts/models/self_supervised/resnets.py
  pl_bolts/models/self_supervised/simclr/transforms.py
  pl_bolts/models/vision/__init__.py
  pl_bolts/transforms/dataset_normalizations.py
  pl_bolts/transforms/self_supervised/ssl_transforms.py
Labels: 0:] Ready-To-Go, model, refactoring

#493 [RFC] Add missing names to `pl_bolts/datasets/__init__.py`
  pl_bolts/datamodules/binary_mnist_datamodule.py
  pl_bolts/datamodules/cifar10_datamodule.py
  pl_bolts/datamodules/imagenet_datamodule.py
  pl_bolts/datamodules/kitti_datamodule.py
  pl_bolts/datamodules/ssl_imagenet_datamodule.py
  pl_bolts/datamodules/stl10_datamodule.py
  pl_bolts/datasets/__init__.py
  pl_bolts/datasets/cifar10_dataset.py
  pl_bolts/models/self_supervised/amdim/datasets.py
  tests/models/self_supervised/test_models.py
Labels: enhancement, refactoring

#462 Adding types to some of datamodules
  pl_bolts/callbacks/byol_updates.py
  pl_bolts/callbacks/variational.py
  pl_bolts/datamodules/async_dataloader.py
  pl_bolts/datamodules/binary_mnist_datamodule.py
  pl_bolts/datamodules/cifar10_datamodule.py
  pl_bolts/datamodules/cityscapes_datamodule.py
  pl_bolts/datamodules/experience_source.py
  pl_bolts/datamodules/fashion_mnist_datamodule.py
  pl_bolts/datamodules/imagenet_datamodule.py
  pl_bolts/datamodules/kitti_datamodule.py
  pl_bolts/datamodules/mnist_datamodule.py
  pl_bolts/datamodules/sklearn_datamodule.py
  pl_bolts/datamodules/ssl_imagenet_datamodule.py
  pl_bolts/datamodules/stl10_datamodule.py
  pl_bolts/datamodules/vision_datamodule.py
  pl_bolts/datamodules/vocdetection_datamodule.py
  setup.cfg
Labels: Priority, datamodule, refactoring

#530 doc updates
  README.md
  docs/Makefile
  docs/source/introduction_guide.rst
  docs/source/models_howto.rst
  docs/source/self_supervised_models.rst
Labels: Priority, documentation

#534 Typo fix in docs
  pl_bolts/models/gans/basic/basic_gan_module.py
  pl_bolts/models/gans/dcgan/dcgan_module.py
Labels: documentation, model

#536 fixing CI install
  .github/workflows/ci_install-pkg.yml
  setup.py
Labels: Priority, bug / fix, tests / CI

#540 ci: Unify pep8 speaks
  .pep8speaks.yml
Labels: tests / CI

#539 Fix collision between flake8 and yapf
  pl_bolts/datamodules/async_dataloader.py
  pl_bolts/models/self_supervised/simclr/simclr_module.py
  setup.cfg
Labels: tests / CI

#546 Remove sourcerer.io
  README.md
Labels: documentation

#541 Fix trainer args in simclr and swav
  pl_bolts/datamodules/async_dataloader.py
  pl_bolts/models/self_supervised/simclr/simclr_module.py
  pl_bolts/models/self_supervised/swav/swav_module.py
  requirements.txt
  tests/models/self_supervised/test_scripts.py
Labels: Priority, bug / fix, model
