Repository Lightning-Universe/lightning-bolts, pull requests merged in 2021-07, with the labels that each got.

#678 Update docs for new template
  docs/source/_templates/layout.html
  docs/source/_templates/theme_variables.jinja
Labels: documentation

#631 Remove momentum updating from val step and add separate val queue
  CHANGELOG.md
  pl_bolts/models/self_supervised/moco/moco2_module.py
Labels: 0:] Ready-To-Go, bug / fix, model

#680 fixed CPC module arg name
  pl_bolts/models/self_supervised/cpc/cpc_module.py
Labels: 0:] Ready-To-Go, bug / fix, model

#686 Fix link for cifar-10 weights
  docs/source/self_supervised_models.rst
Labels: documentation

#694 Set the dtype correctly for vision GPT model
  CHANGELOG.md
  pl_bolts/models/vision/image_gpt/gpt2.py
Labels: model

#698 Explicit prepare_data(), setup() calls in datamodule docs
  docs/source/datamodules.rst
Labels: 0:] Ready-To-Go, documentation

#696 Fix typo in Cityscapes datamodule
  pl_bolts/datamodules/cityscapes_datamodule.py
Labels: 0:] Ready-To-Go, datamodule
