Repository Lightning-Universe/lightning-bolts, pull requests merged in 2021-12, with the labels that each got.

#784 CI: Use torch 1.8 (LTS) docker image for gpu testing
  azure-pipelines.yml
Labels: tests / CI

#785 Drop Python 3.6 support
  .github/workflows/ci_test-full.yml
  CHANGELOG.md
  requirements.txt
  setup.py
Labels: tests / CI, 0:] Ready-To-Go

#786 Add Python 3.9 and drop PyTorch 1.6
  .github/workflows/ci_install-pkg.yml
  .github/workflows/ci_test-base.yml
  .github/workflows/ci_test-full.yml
  .github/workflows/code-format.yml
  .github/workflows/docs-check.yml
  .github/workflows/pypi-release.yml
  .readthedocs.yml
  CHANGELOG.md
  azure-pipelines.yml
  requirements.txt
  requirements/models.txt
  setup.py
Labels: tests / CI

#529 Add RetinaNet Object detection with Backbones
  CHANGELOG.md
  docs/source/deprecated/models/object_detection.rst
  pl_bolts/models/detection/__init__.py
  pl_bolts/models/detection/faster_rcnn/faster_rcnn_module.py
  pl_bolts/models/detection/retinanet/__init__.py
  pl_bolts/models/detection/retinanet/backbones.py
  pl_bolts/models/detection/retinanet/retinanet_module.py
  requirements.txt
  requirements/models.txt
  requirements/test.txt
  tests/models/test_detection.py
  tests/models/test_scripts.py
Labels: 0:] Ready-To-Go, model

#787 Prepare v0.5.0
  CHANGELOG.md
  pl_bolts/__about__.py
Labels: 0:] Ready-To-Go
