Repository Lightning-Universe/lightning-bolts, pull requests merged in 2021-03, with the labels that each got.

#531 Speedup CI testing
  tests/models/self_supervised/test_models.py
  tests/models/self_supervised/test_resnets.py
  tests/models/test_autoencoders.py
  tests/models/test_classic_ml.py
  tests/models/test_detection.py
  tests/models/test_vision.py
Labels: 0:] Ready-To-Go, tests / CI

#574 Fix BYOL moving average update
  pl_bolts/callbacks/byol_updates.py
Labels: bug / fix, callback, model

#561 Move vision models to `pl_bolts.models.vision`
  CHANGELOG.md
  docs/source/convolutional.rst
  docs/source/introduction_guide.rst
  pl_bolts/models/__init__.py
  pl_bolts/models/vision/__init__.py
  pl_bolts/models/vision/image_gpt/gpt2.py
  tests/models/test_vision.py
Labels: model, refactoring

#550 fix custom gamma in rl
  pl_bolts/models/rl/double_dqn_model.py
  pl_bolts/models/rl/dqn_model.py
  pl_bolts/models/rl/per_dqn_model.py
Labels: 0:] Ready-To-Go, model

#505 Tighten up mypy config
  setup.cfg
Labels: enhancement, tests / CI

#533 Add Pix2Pix model
  pl_bolts/models/gans/__init__.py
  pl_bolts/models/gans/pix2pix/__init__.py
  pl_bolts/models/gans/pix2pix/components.py
  pl_bolts/models/gans/pix2pix/pix2pix_module.py
  requirements.txt
Labels: model

#579 [Issue #578] Remove dependency of imagenet_dataset.py on torch._six
  pl_bolts/datasets/imagenet_dataset.py
Labels: bug / fix

#557 Update AE and VAE documentation
  pl_bolts/models/autoencoders/basic_ae/basic_ae_module.py
  pl_bolts/models/autoencoders/basic_vae/basic_vae_module.py
Labels: 0:] Ready-To-Go, documentation, model

#580 Fix PT 1.8 compatibility issue
  .gitignore
  pl_bolts/datamodules/async_dataloader.py
  pl_bolts/datasets/__init__.py
  pl_bolts/datasets/imagenet_dataset.py
  tests/losses/test_object_detection.py
  tests/metrics/test_object_detection.py
  tests/models/test_classic_ml.py
Labels: Priority, bug / fix

#569 Handle batchnorms in BatchGradientVerification
  pl_bolts/callbacks/verification/batch_gradient.py
  tests/callbacks/verification/test_batch_gradient.py
Labels: 0:] Ready-To-Go, callback

#573 Correct num_rows calculation in LatentDimInterpolator callback
  pl_bolts/callbacks/variational.py
Labels: 0:] Ready-To-Go, callback

#583 Refactor: shorten bolts name
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci_test-base.yml
  .github/workflows/ci_test-full.yml
  CHANGELOG.md
  README.md
  docs/source/_templates/theme_variables.jinja
  docs/source/conf.py
  docs/source/index.rst
  docs/source/installation.rst
  docs/source/introduction_guide.rst
  docs/source/models.rst
  docs/source/self_supervised_models.rst
  pl_bolts/__init__.py
  pl_bolts/setup_tools.py
  setup.py
Labels: discussion, documentation, refactoring

#586 Update reinforce_learn.rst
  docs/source/reinforce_learn.rst
Labels: documentation

#585 CI: add multi-GPU
  CHANGELOG.md
  README.md
  azure-pipelines.yml
  docs/source/introduction_guide.rst
  docs/source/models_howto.rst
  docs/source/self_supervised_models.rst
  pl_bolts/datasets/imagenet_dataset.py
  pl_bolts/models/self_supervised/__init__.py
  pl_bolts/models/self_supervised/amdim/amdim_module.py
  pl_bolts/models/self_supervised/byol/byol_module.py
  pl_bolts/models/self_supervised/cpc/__init__.py
  pl_bolts/models/self_supervised/cpc/cpc_finetuner.py
  pl_bolts/models/self_supervised/cpc/cpc_module.py
  pl_bolts/models/self_supervised/moco/moco2_module.py
  pl_bolts/models/self_supervised/simclr/simclr_module.py
  pl_bolts/models/self_supervised/ssl_finetuner.py
  pl_bolts/utils/pretrained_weights.py
  requirements/models.txt
  tests/__init__.py
  tests/callbacks/verification/test_base.py
  tests/callbacks/verification/test_batch_gradient.py
  tests/datamodules/test_datamodules.py
  tests/models/self_supervised/test_models.py
  tests/models/self_supervised/test_ssl_scripts.py
  tests/models/test_scripts.py
Labels: enhancement, tests / CI

#590 switch to torchmetrics
  pl_bolts/callbacks/ssl_online.py
  pl_bolts/models/regression/logistic_regression.py
  pl_bolts/models/self_supervised/ssl_finetuner.py
  requirements.txt
Labels: callback, enhancement, model

#591 CI: Azure publish results
  azure-pipelines.yml
  requirements/test.txt
Labels: enhancement, tests / CI

#594 CI: update coverage
  azure-pipelines.yml
  setup.cfg
Labels: tests / CI

#601 refactor setup
  .github/workflows/ci_test-base.yml
  docs/source/conf.py
  pl_bolts/__init__.py
  pl_bolts/info.py
  pl_bolts/setup_tools.py
  requirements/test.txt
  setup.py
Labels: documentation, enhancement

#602 docs: drop apidoc
  docs/source/conf.py
  docs/source/index.rst
Labels: bug / fix, documentation, enhancement

#604 Add SimSiam to the docs
  docs/source/self_supervised_models.rst
Labels: 0:] Ready-To-Go, documentation
