Repository Lightning-Universe/lightning-bolts, pull requests merged in 2021-09, with the labels that each got.

#723 Bug fixes.
  pl_bolts/callbacks/vision/confused_logit.py
Labels: callback

#724 Add the sparseml callback
  CHANGELOG.md
  docs/source/callbacks/sparseml.rst
  docs/source/conf.py
  docs/source/index.rst
  pl_bolts/callbacks/__init__.py
  pl_bolts/callbacks/sparseml.py
  pl_bolts/utils/__init__.py
  requirements/test.txt
  tests/callbacks/test_sparseml.py
Labels: documentation, callback

#729 Fix link to docs
  README.md
Labels: documentation

#627 Soft Actor Critic (SAC) Model
  CHANGELOG.md
  docs/source/_images/rl_benchmark/pendulum_sac_results.jpg
  docs/source/reinforce_learn.rst
  pl_bolts/models/rl/__init__.py
  pl_bolts/models/rl/common/agents.py
  pl_bolts/models/rl/common/distributions.py
  pl_bolts/models/rl/common/networks.py
  pl_bolts/models/rl/sac_model.py
  tests/models/rl/integration/test_actor_critic_models.py
  tests/models/rl/test_scripts.py
  tests/models/rl/unit/test_sac.py
Labels: documentation, model, waiting on author

#732 Remove greeting bot
  .github/workflows/greetings.yml
Labels: tests / CI

#552 Add YOLO object detection model
  CHANGELOG.md
  docs/source/index.rst
  docs/source/object_detection.rst
  pl_bolts/datamodules/vocdetection_datamodule.py
  pl_bolts/models/detection/__init__.py
  pl_bolts/models/detection/faster_rcnn/faster_rcnn_module.py
  pl_bolts/models/detection/yolo/__init__.py
  pl_bolts/models/detection/yolo/yolo_config.py
  pl_bolts/models/detection/yolo/yolo_layers.py
  pl_bolts/models/detection/yolo/yolo_module.py
  tests/data/yolo.cfg
  tests/models/test_detection.py
Labels: enhancement, model, datamodule

#734 add CI schema check
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci_schema.yml
  .github/workflows/pypi-release.yml
  azure-pipelines.yml
Labels: tests / CI

#722 Clean up of the docs, introducing a deprecated section
  docs/source/callbacks/monitor.rst
  docs/source/datamodules.rst
  docs/source/datamodules/sklearn.rst
  docs/source/datamodules/vision.rst
  docs/source/datasets/debug.rst
  docs/source/deprecated.rst
  docs/source/deprecated/callbacks/self_supervised.rst
  docs/source/deprecated/callbacks/variational.rst
  docs/source/deprecated/callbacks/vision.rst
  docs/source/deprecated/dataloaders/async.rst
  docs/source/deprecated/losses.rst
  docs/source/deprecated/models/autoencoders.rst
  docs/source/deprecated/models/classic_ml.rst
  docs/source/deprecated/models/convolutional.rst
  docs/source/deprecated/models/gans.rst
  docs/source/deprecated/models/models_howto.rst
  docs/source/deprecated/models/object_detection.rst
  docs/source/deprecated/models/reinforce_learn.rst
  docs/source/deprecated/models/self_supervised.rst
  docs/source/deprecated/schedulers/warmup_cosine_annealing.rst
  docs/source/deprecated/transforms/self_supervised.rst
  docs/source/deprecated/transforms/semi_supervised.rst
  docs/source/deprecated/vision_tasks.rst
  docs/source/index.rst
  docs/source/learning_rate_schedulers.rst
  docs/source/models.rst
  docs/source/self_supervised_utils.rst
Labels: documentation

#740 Re-write of README
  README.md
  requirements/test.txt
Labels: documentation

#745 [doc fix] Fix input_dim (13 ➡ 10) in linear regression demo
  docs/source/deprecated/models/classic_ml.rst
Labels: bug / fix, documentation, 0:] Ready-To-Go
