Repository Lightning-Universe/lightning-bolts, pull requests merged in 2021-08, with the labels that each got.

#699 Support deprecated attribute usage
  pl_bolts/models/rl/double_dqn_model.py
  pl_bolts/models/rl/dqn_model.py
  pl_bolts/models/rl/per_dqn_model.py
  pl_bolts/models/self_supervised/moco/moco2_module.py
  pl_bolts/utils/__init__.py
Labels: bug / fix, model

#428 Add tests for imports when optional packages are unavailable
  .github/workflows/ci_install-pkg.yml
  tests/datamodules/test_imports.py
Labels: tests / CI, 0:] Ready-To-Go

#701 Use `pin_memory=True`, `shuffle=True` and `num_workers=0` by default
  CHANGELOG.md
  pl_bolts/datamodules/binary_mnist_datamodule.py
  pl_bolts/datamodules/cifar10_datamodule.py
  pl_bolts/datamodules/cityscapes_datamodule.py
  pl_bolts/datamodules/fashion_mnist_datamodule.py
  pl_bolts/datamodules/imagenet_datamodule.py
  pl_bolts/datamodules/kitti_datamodule.py
  pl_bolts/datamodules/mnist_datamodule.py
  pl_bolts/datamodules/sklearn_datamodule.py
  pl_bolts/datamodules/ssl_imagenet_datamodule.py
  pl_bolts/datamodules/stl10_datamodule.py
  pl_bolts/datamodules/vision_datamodule.py
  pl_bolts/datamodules/vocdetection_datamodule.py
Labels: enhancement, 0:] Ready-To-Go, datamodule

#598 Advantage Actor Critic (A2C) Model
  CHANGELOG.md
  docs/source/_images/rl_benchmark/cartpole_a2c_results.jpg
  docs/source/reinforce_learn.rst
  pl_bolts/models/rl/__init__.py
  pl_bolts/models/rl/advantage_actor_critic_model.py
  pl_bolts/models/rl/common/agents.py
  pl_bolts/models/rl/common/networks.py
  tests/models/rl/integration/test_actor_critic_models.py
  tests/models/rl/test_scripts.py
  tests/models/rl/unit/test_a2c.py
  tests/models/rl/unit/test_agents.py
Labels: help wanted, 0:] Ready-To-Go, model

#676 Add EMNISTDataModule
  .gitignore
  CHANGELOG.md
  docs/source/datamodules_sklearn.rst
  docs/source/datamodules_vision.rst
  pl_bolts/datamodules/__init__.py
  pl_bolts/datamodules/binary_emnist_datamodule.py
  pl_bolts/datamodules/emnist_datamodule.py
  pl_bolts/datasets/__init__.py
  pl_bolts/datasets/emnist_dataset.py
  pl_bolts/transforms/dataset_normalizations.py
  tests/datamodules/test_datamodules.py
Labels: 0:] Ready-To-Go, datamodule

#684 Move queue to gpu when resuming checkpoint - SWAV self supervised model
  CHANGELOG.md
  pl_bolts/models/self_supervised/swav/swav_module.py
Labels: bug / fix, model

#703 pre-commit pyupgrade
  .pre-commit-config.yaml
  docs/source/conf.py
  pl_bolts/datamodules/async_dataloader.py
  pl_bolts/datamodules/binary_emnist_datamodule.py
  pl_bolts/datamodules/emnist_datamodule.py
  pl_bolts/datamodules/vocdetection_datamodule.py
  pl_bolts/datasets/imagenet_dataset.py
  pl_bolts/models/autoencoders/basic_ae/basic_ae_module.py
  pl_bolts/models/autoencoders/basic_vae/basic_vae_module.py
  pl_bolts/models/rl/common/gym_wrappers.py
  pl_bolts/models/rl/common/memory.py
  pl_bolts/models/rl/common/networks.py
  pl_bolts/models/self_supervised/amdim/networks.py
  pl_bolts/models/self_supervised/amdim/transforms.py
  pl_bolts/models/self_supervised/cpc/networks.py
  pl_bolts/models/self_supervised/evaluator.py
  pl_bolts/models/self_supervised/moco/transforms.py
  pl_bolts/models/self_supervised/resnets.py
  pl_bolts/models/self_supervised/simclr/transforms.py
  pl_bolts/models/self_supervised/swav/swav_resnet.py
  pl_bolts/models/self_supervised/swav/transforms.py
  pl_bolts/models/vision/image_gpt/gpt2.py
  pl_bolts/optimizers/lars.py
  pl_bolts/optimizers/lr_scheduler.py
  pl_bolts/setup_tools.py
  pl_bolts/transforms/self_supervised/ssl_transforms.py
  pl_bolts/utils/semi_supervised.py
  tests/callbacks/test_info_callbacks.py
  tests/callbacks/test_variational_callbacks.py
  tests/optimizers/test_lr_scheduler.py
Labels: enhancement

#704 pre-commit yesqa
  .pre-commit-config.yaml
  pl_bolts/__init__.py
  pl_bolts/callbacks/__init__.py
  pl_bolts/datasets/imagenet_dataset.py
  pl_bolts/datasets/mnist_dataset.py
  pl_bolts/metrics/__init__.py
  pl_bolts/models/autoencoders/__init__.py
  pl_bolts/models/detection/__init__.py
  pl_bolts/models/regression/__init__.py
  pl_bolts/models/self_supervised/__init__.py
  pl_bolts/models/self_supervised/amdim/__init__.py
  pl_bolts/models/self_supervised/cpc/__init__.py
  pl_bolts/models/self_supervised/swav/__init__.py
  pl_bolts/optimizers/__init__.py
Labels: enhancement

#705 pre-commit: mdformat
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/how-to-question.md
  .github/PULL_REQUEST_TEMPLATE.md
  .pre-commit-config.yaml
  README.md
Labels: enhancement

#715 Try to fix remaining failing CI tests, update requirements
  .github/workflows/docs-check.yml
  pl_bolts/callbacks/verification/base.py
  pl_bolts/models/self_supervised/resnets.py
  requirements.txt
  tests/callbacks/verification/test_base.py
  tests/models/rl/integration/test_value_models.py
  tests/models/self_supervised/test_models.py
Labels: tests / CI

#713 Fix ImageNet val loader to use val transform
  CHANGELOG.md
  pl_bolts/datamodules/imagenet_datamodule.py
Labels: datamodule

#720 Add Torch ORT Callback, re-write callback section
  CHANGELOG.md
  docs/source/callbacks.rst
  docs/source/callbacks/monitor_callbacks.rst
  docs/source/callbacks/self_supervised_callbacks.rst
  docs/source/callbacks/torch_ort.rst
  docs/source/callbacks/variational_callbacks.rst
  docs/source/callbacks/vision_callbacks.rst
  docs/source/conf.py
  docs/source/index.rst
  pl_bolts/callbacks/__init__.py
  pl_bolts/callbacks/torch_ort.py
  pl_bolts/utils/__init__.py
  tests/callbacks/test_ort.py
  tests/helpers/__init__.py
  tests/helpers/boring_model.py
Labels: documentation, callback
