Repository Lightning-Universe/lightning-bolts, pull requests merged in 2021-11, with the labels that each got.

#765 Fix tests for CI
  .github/workflows/docs-check.yml
  docs/requirements.txt
  docs/source/conf.py
  docs/source/deprecated/models/reinforce_learn.rst
  pl_bolts/callbacks/data_monitor.py
  pl_bolts/datamodules/experience_source.py
  pl_bolts/models/rl/advantage_actor_critic_model.py
  pl_bolts/models/rl/double_dqn_model.py
  pl_bolts/models/rl/dqn_model.py
  pl_bolts/models/rl/dueling_dqn_model.py
  pl_bolts/models/rl/noisy_dqn_model.py
  pl_bolts/models/rl/per_dqn_model.py
  pl_bolts/models/rl/ppo_model.py
  pl_bolts/models/rl/reinforce_model.py
  pl_bolts/models/rl/sac_model.py
  pl_bolts/models/rl/vanilla_policy_gradient_model.py
  pl_bolts/models/self_supervised/moco/moco2_module.py
  pl_bolts/models/self_supervised/simclr/simclr_finetuner.py
  pl_bolts/models/self_supervised/simclr/simclr_module.py
  pl_bolts/models/self_supervised/swav/swav_finetuner.py
  pl_bolts/models/self_supervised/swav/swav_module.py
  requirements/models.txt
  tests/callbacks/test_data_monitor.py
  tests/models/test_gans.py
  tests/models/test_mnist_templates.py
Labels: documentation, 0:] Ready-To-Go

#763 Added `export_kwargs` when exporting sparse onnx
  pl_bolts/callbacks/sparseml.py
Labels: enhancement, 0:] Ready-To-Go, callback

#760 Replaced KL divergence estimation with deterministic KL
  CHANGELOG.md
  pl_bolts/models/autoencoders/basic_vae/basic_vae_module.py
Labels: model

#766 [RFC] Update CODEOWNERS
  .github/CODEOWNERS
Labels: enhancement

#771 fix typos
  README.md
Labels: documentation

#661 Added nn.Module support for FasterRCNN backbone
  CHANGELOG.md
  pl_bolts/models/detection/faster_rcnn/faster_rcnn_module.py
  tests/models/test_detection.py
Labels: enhancement, 0:] Ready-To-Go, model

#725 Complete Redesign of KNNOnlineEvaluator
  pl_bolts/callbacks/knn_online.py
Labels: enhancement, 0:] Ready-To-Go, refactoring, callback, waiting on author

#762 Allowing torch 1.9.X for SparseMLCallbacks
  pl_bolts/callbacks/sparseml.py
  pl_bolts/utils/__init__.py
Labels: 0:] Ready-To-Go, callback

#757 fix: CosineAnnealingLR is missing
  CHANGELOG.md
  pl_bolts/models/self_supervised/moco/moco2_module.py
Labels: 0:] Ready-To-Go, model

#466 Add SRGAN and datamodules for super resolution
  CHANGELOG.md
  docs/source/_images/gans/srgan-celeba-scale_factor=2.png
  docs/source/_images/gans/srgan-celeba-scale_factor=4.png
  docs/source/_images/gans/srgan-mnist-scale_factor=2.png
  docs/source/_images/gans/srgan-mnist-scale_factor=4.png
  docs/source/_images/gans/srgan-stl10-scale_factor=2.png
  docs/source/_images/gans/srgan-stl10-scale_factor=4.png
  docs/source/deprecated/models/gans.rst
  pl_bolts/callbacks/__init__.py
  pl_bolts/callbacks/vision/sr_image_logger.py
  pl_bolts/datamodules/__init__.py
  pl_bolts/datamodules/sr_datamodule.py
  pl_bolts/datasets/sr_celeba_dataset.py
  pl_bolts/datasets/sr_dataset_mixin.py
  pl_bolts/datasets/sr_mnist_dataset.py
  pl_bolts/datasets/sr_stl10_dataset.py
  pl_bolts/datasets/utils.py
  pl_bolts/models/gans/__init__.py
  pl_bolts/models/gans/srgan/__init__.py
  pl_bolts/models/gans/srgan/components.py
  pl_bolts/models/gans/srgan/srgan_module.py
  pl_bolts/models/gans/srgan/srresnet_module.py
  tests/datamodules/test_datamodules.py
  tests/datasets/test_datasets.py
  tests/models/test_gans.py
  tests/models/test_scripts.py
Labels: 0:] Ready-To-Go, model, datamodule

#776 simplify mypy
  .github/workflows/code-format.yml
  pl_bolts/callbacks/byol_updates.py
  pl_bolts/callbacks/data_monitor.py
  pl_bolts/callbacks/knn_online.py
  pl_bolts/callbacks/sparseml.py
  pl_bolts/callbacks/ssl_online.py
  pl_bolts/callbacks/torch_ort.py
  pl_bolts/callbacks/variational.py
  pl_bolts/callbacks/vision/confused_logit.py
  pl_bolts/callbacks/vision/image_generation.py
  pl_bolts/datamodules/vision_datamodule.py
  pl_bolts/utils/__init__.py
  pyproject.toml
  setup.cfg
Labels: tests / CI, 0:] Ready-To-Go

#728 Improve SSLOnlineEvaluator
  pl_bolts/callbacks/knn_online.py
  pl_bolts/callbacks/ssl_online.py
Labels: enhancement, 0:] Ready-To-Go, refactoring, callback, waiting on author

#773 Fix hparams.encoder forgotten rename in CPCv2
  pl_bolts/models/self_supervised/cpc/cpc_module.py
  tests/models/self_supervised/test_models.py
Labels: bug / fix, 0:] Ready-To-Go
