Repository Lightning-Universe/lightning-bolts, pull requests merged in 2022-07, with the labels that each got.

#829 Fix/links and docs
  .github/workflows/docs-check.yml
  README.md
  docs/Makefile
  docs/source/conf.py
  requirements/models.txt
  requirements/test.txt
Labels: documentation, 0:] Ready-To-Go

#836 Update CODEOWNER
  .github/CODEOWNERS
Labels: 0:] Ready-To-Go

#840 Update MacOS CI
  .github/workflows/ci_install-pkg.yml
  .github/workflows/ci_test-base.yml
  .github/workflows/ci_test-full.yml
Labels: 0:] Ready-To-Go

#842 fix CI and update docs
  .github/workflows/ci_install-pkg.yml
  docs/source/introduction_guide.rst
  docs/source/stability.rst
Labels: documentation

#843 Reviewing GAN basics, VisionDataModule, MNISTDataModule, CIFAR10DataModule
  pl_bolts/datamodules/cifar10_datamodule.py
  pl_bolts/datamodules/mnist_datamodule.py
  pl_bolts/datamodules/vision_datamodule.py
  pl_bolts/models/gans/basic/basic_gan_module.py
  pl_bolts/models/gans/basic/components.py
  tests/datamodules/test_datamodules.py
  tests/models/gans/__init__.py
  tests/models/gans/integration/__init__.py
  tests/models/gans/integration/test_gans.py
  tests/models/gans/unit/__init__.py
  tests/models/gans/unit/test_basic_components.py
Labels: 0:] Ready-To-Go, model

#845 test readme
  Makefile
  tests/README.md
Labels: documentation, 0:] Ready-To-Go
