Repository Lightning-Universe/lightning-bolts, pull requests merged in 2022-05, with the labels that each got.

#809 Removing extra flatten.
  pl_bolts/models/gans/basic/basic_gan_module.py
Labels: model

#806 support number of channels!=3 in YOLOConfiguration
  pl_bolts/models/detection/yolo/yolo_config.py
Labels: model

#815 Update torch version to 1.10.X for SparseML
  pl_bolts/callbacks/sparseml.py
  pl_bolts/utils/__init__.py
Labels: callback

#822 Updated SparseML callback for latest PyTorch Lightning
  pl_bolts/callbacks/sparseml.py
Labels: callback

#823 Update self_supervised.rst
  docs/source/deprecated/models/self_supervised.rst
  pl_bolts/callbacks/sparseml.py
Labels: documentation
