Repository Lightning-Universe/lightning-bolts, pull requests merged in 2022-11, with the labels that each got.

#910 Support PL 1.8
  pl_bolts/callbacks/printing.py
  pl_bolts/callbacks/sparseml.py
  pl_bolts/callbacks/ssl_online.py
  pl_bolts/callbacks/variational.py
  pl_bolts/callbacks/vision/image_generation.py
  pl_bolts/models/rl/double_dqn_model.py
  pl_bolts/models/rl/dqn_model.py
  pl_bolts/models/rl/per_dqn_model.py
  pl_bolts/models/self_supervised/moco/callbacks.py
  pl_bolts/models/self_supervised/moco/moco2_module.py
  pl_bolts/setup_tools.py
  requirements.txt
  tests/callbacks/test_data_monitor.py
  tests/callbacks/test_info_callbacks.py
  tests/callbacks/test_variational_callbacks.py
  tests/models/test_mnist_templates.py
Labels: ready, model, callback

#930 set min PL as 1.7
  .github/workflows/ci-tests.yml
  requirements.txt
  requirements/test.txt
  tests/models/test_classic_ml.py
Labels: ready

#932 Prepare 0.6.0 release
  CHANGELOG.md
  pl_bolts/__about__.py
Labels: ready

#935 update changelog links
  CHANGELOG.md
Labels: ready

#936 post release chore
  CHANGELOG.md
  pl_bolts/__about__.py
Labels: ready

#939 Fix broken doc formatting by adding missing blank line
  pl_bolts/models/self_supervised/moco/moco2_module.py
Labels: ready, model

#892 Metrics
  pl_bolts/metrics/object_detection.py
  requirements.txt
Labels: ready
