Repository Lightning-Universe/lightning-bolts, pull requests merged in 2022-08, with the labels that each got.

#847 Followup of #843 - adding docstring
  pl_bolts/datamodules/vision_datamodule.py
Labels: 0:] Ready-To-Go, datamodule

#856 CI: Update `ready` label
  .github/mergify.yml
Labels: ci/cd

#859 Fix tests for PL 1.7.0 and TV 0.13
  docs/source/conf.py
  pl_bolts/callbacks/byol_updates.py
  pl_bolts/callbacks/ssl_online.py
  pl_bolts/callbacks/verification/base.py
  pl_bolts/callbacks/vision/confused_logit.py
  pl_bolts/callbacks/vision/sr_image_logger.py
  pl_bolts/datamodules/cityscapes_datamodule.py
  pl_bolts/datamodules/stl10_datamodule.py
  pl_bolts/datamodules/vocdetection_datamodule.py
  pl_bolts/models/autoencoders/basic_ae/basic_ae_module.py
  pl_bolts/models/autoencoders/basic_vae/basic_vae_module.py
  pl_bolts/models/detection/retinanet/retinanet_module.py
  pl_bolts/models/gans/basic/basic_gan_module.py
  pl_bolts/models/self_supervised/byol/byol_module.py
  pl_bolts/models/self_supervised/simclr/simclr_finetuner.py
  pl_bolts/models/self_supervised/simclr/simclr_module.py
  pl_bolts/models/self_supervised/simsiam/simsiam_module.py
  pl_bolts/models/self_supervised/swav/swav_finetuner.py
  pl_bolts/models/self_supervised/swav/swav_module.py
  pl_bolts/utils/__init__.py
  tests/conftest.py
  tests/models/gans/integration/test_gans.py
  tests/models/gans/unit/test_basic_components.py
  tests/models/test_autoencoders.py
  tests/models/test_classic_ml.py
  tests/models/test_vision.py
Labels: ready, model, datamodule, callback

#855 CI: Add dependabot for GitHub Actions
  .github/dependabot.yml
Labels: ci/cd, ready

#860 CI: Update Windows from 2019 to 2022
  .github/workflows/ci_install-pkg.yml
  .github/workflows/ci_test-base.yml
Labels: ci/cd, ready

#864 [CI] Make mypy run with installed dev environment
  .github/workflows/code-format.yml
  pyproject.toml
Labels: ci/cd, ready

#865 Added tests, updated doc-strings for Dummy Datasets
  pl_bolts/datasets/dummy_dataset.py
  tests/datasets/test_datasets.py
Labels: ready

#870 limit mistune version to unblock doctest
  docs/requirements.txt
Labels: documentation, ready

#866 Binary MNIST/EMNIST Datasets and Datamodules
  pl_bolts/datamodules/binary_emnist_datamodule.py
  pl_bolts/datamodules/binary_mnist_datamodule.py
  pl_bolts/datasets/emnist_dataset.py
  pl_bolts/datasets/mnist_dataset.py
  pyproject.toml
  tests/datamodules/test_datamodules.py
  tests/datasets/test_datasets.py
Labels: ready, datamodule

#867 BYOL weight update callback
  pl_bolts/callbacks/byol_updates.py
  tests/callbacks/test_param_update_callbacks.py
Labels: ready, callback
