Repository Lightning-Universe/lightning-bolts, pull requests merged in 2022-09, with the labels that each got.

#854 CI: Update docker images
  azure-pipelines.yml
Labels: ci/cd, ready

#868 CI: Reuse check schema
  .github/workflows/ci-schema.yml
  .github/workflows/ci_schema.yml
Labels: ci/cd, ready, admin

#871 FashionMNIST/EMNIST Datamodules
  pl_bolts/datamodules/emnist_datamodule.py
  pl_bolts/datamodules/fashion_mnist_datamodule.py
  tests/datamodules/test_datamodules.py
Labels: ready, datamodule

#857 Revision of SimCLR transforms
  pl_bolts/models/self_supervised/simclr/transforms.py
  tests/conftest.py
  tests/models/self_supervised/unit/__init__.py
  tests/models/self_supervised/unit/test_transforms.py
Labels: ready, model

#880 Revision models.vision.unet, models.vision.segmentation
  pl_bolts/models/vision/segmentation.py
  pl_bolts/models/vision/unet.py
  tests/models/test_vision.py
Labels: ready, model

#878 Metrics
  pl_bolts/metrics/aggregation.py
  tests/metrics/test_aggregation.py
Labels: enhancement

#869 CI: Update azure pipelines config path
  .azure/gpu-tests.yml
  .github/workflows/ci-schema.yml
Labels: ci/cd, ready, admin

#885 fixed header text
  tests/metrics/test_aggregation.py
Labels: ready

#888 Bump python version used by pre-commit
  .pre-commit-config.yaml
Labels: ready

#890 Dataset specific args method to CIFAR10, ImageNet, MNIST, and STL10
  pl_bolts/datamodules/cifar10_datamodule.py
  pl_bolts/datamodules/imagenet_datamodule.py
  pl_bolts/datamodules/mnist_datamodule.py
  pl_bolts/datamodules/stl10_datamodule.py
Labels: datamodule

#873 Revision of MNIST module
  pl_bolts/models/mnist_module.py
  tests/callbacks/test_data_monitor.py
  tests/models/test_mnist_templates.py
Labels: ready, model

#887 Metrics
  pl_bolts/metrics/object_detection.py
  tests/metrics/test_object_detection.py
Labels: ready

#874 Revision of BYOL module and tests
  pl_bolts/models/self_supervised/byol/byol_module.py
  pl_bolts/models/self_supervised/byol/models.py
  tests/models/self_supervised/test_models.py
  tests/models/self_supervised/test_ssl_scripts.py
Labels: ready, model
