Repository Lightning-Universe/lightning-bolts, pull requests merged in 2022-10, with the labels that each got.

#894 CVE-2007-4559 Patch
  pl_bolts/datasets/cifar10_dataset.py
  pl_bolts/datasets/imagenet_dataset.py
  pl_bolts/datasets/utils.py
Labels: ready

#896 Revision `datasets.kitti_dataset.KittiDataset`
  pl_bolts/datasets/kitti_dataset.py
  tests/datasets/test_datasets.py
Labels: ready

#891 Revision of SimSiam module and tests
  pl_bolts/models/self_supervised/simsiam/models.py
  pl_bolts/models/self_supervised/simsiam/simsiam_module.py
  tests/models/self_supervised/test_models.py
  tests/models/self_supervised/test_ssl_scripts.py
Labels: model

#898 Revision of dataset normalizations
  pl_bolts/transforms/dataset_normalizations.py
  tests/transforms/test_normalizations.py
Labels: ready

#903 swav-improvements
  pl_bolts/models/self_supervised/ssl_finetuner.py
  pl_bolts/models/self_supervised/swav/__init__.py
  pl_bolts/models/self_supervised/swav/loss.py
  pl_bolts/models/self_supervised/swav/swav_finetuner.py
  pl_bolts/models/self_supervised/swav/swav_module.py
  pl_bolts/models/self_supervised/swav/swav_resnet.py
  pl_bolts/models/self_supervised/swav/transforms.py
  tests/models/self_supervised/test_models.py
  tests/models/self_supervised/unit/test_transforms.py
Labels: model

#908 clean links in changelog
  CHANGELOG.md
Labels: documentation, ready

#909 docs: install package
  .github/workflows/docs-check.yml
  .readthedocs.yml
  docs/source/conf.py
Labels: enhancement, ready

#907 use lit utilities
  pl_bolts/utils/__init__.py
  requirements.txt
Labels: enhancement, ready

#916 drop update.sh
  .update.sh
Labels: ready, refactoring

#911 We have new Core Contributors!
  docs/source/_images/logos/lightning_logo-name.svg
  docs/source/governance.rst
Labels: documentation, ready

#914 update dependabot
  .github/dependabot.yml
  .github/workflows/ci_install-pkg.yml
  requirements/test.txt
Labels: enhancement, ci/cd, ready

#917 drop cite
  README.md
Labels: ready, refactoring

#915 CI: unify CPU tests
  .github/workflows/ci-install-pkg.yml
  .github/workflows/ci-tests.yml
  .github/workflows/ci_test-base.yml
Labels: enhancement, ci/cd, ready

#913 CI: switch to Lit pool
  .azure/gpu-tests.yml
  pl_bolts/models/detection/retinanet/retinanet_module.py
Labels: enhancement, ci/cd, ready

#923 Avoid container name conflict in GPU CI
  .azure/gpu-tests.yml
Labels: ci/cd, ready

#925 Skip retinanet test
  tests/models/test_scripts.py
Labels: ci/cd, ready, model

#924 CI: Use new syntax for setting github output
  .github/workflows/ci-tests.yml
Labels: ci/cd, ready

#926 skipif for future jsonargparse
  pl_bolts/utils/__init__.py
  tests/models/test_scripts.py
Labels: ready

#921 minor dcgan-import fix
  pl_bolts/models/gans/dcgan/components.py
  pl_bolts/models/gans/dcgan/dcgan_module.py
Labels: ready, model
