Repository Lightning-Universe/lightning-bolts, pull requests merged in 2023-05, with the labels that each got.

#973 🐛 Change `LightningLoggerBase` to `Logger`
  pl_bolts/callbacks/data_monitor.py
Labels: callback

#1004 pkg: freeze requirements & stabilize CI
  .azure/gpu-tests.yml
  .github/workflows/ci-install-pkg.yml
  .github/workflows/ci-tests.yml
  .github/workflows/code-format.yml
  .github/workflows/docs-check.yml
  pl_bolts/callbacks/sparseml.py
  pl_bolts/models/self_supervised/swav/loss.py
  pl_bolts/utils/types.py
  requirements.txt
  requirements/models.txt
  requirements/test.txt
  setup.py
Labels: let's do it!, Priority, ci/cd, tests

#1007 ci: switch flake8 to ruff
  .github/workflows/code-format.yml
  .pre-commit-config.yaml
  pl_bolts/optimizers/lr_scheduler.py
  pyproject.toml
  setup.cfg
Labels: ci/cd

#965 Backward compatibility for breaking changes of imports from PL
  pl_bolts/callbacks/data_monitor.py
  pl_bolts/models/detection/retinanet/retinanet_module.py
Labels: model, callback

#960 update SwAV example
  docs/source/models/self_supervised.rst
Labels: documentation, ready

#851 Revision models.detection.yolo
  src/pl_bolts/models/detection/yolo/yolo_config.py
  src/pl_bolts/models/detection/yolo/yolo_layers.py
  src/pl_bolts/models/detection/yolo/yolo_module.py
  src/pl_bolts/utils/__init__.py
  tests/data/yolo_giou.cfg
  tests/models/test_detection.py
  tests/models/yolo/__init__.py
  tests/models/yolo/unit/__init__.py
  tests/models/yolo/unit/test_yolo_config.py
  tests/models/yolo/unit/test_yolo_layers.py
Labels: ready, model

#1013 ruff: PT
  .pre-commit-config.yaml
  pyproject.toml
  src/pl_bolts/models/rl/common/gym_wrappers.py
  tests/callbacks/test_data_monitor.py
  tests/callbacks/test_sparseml.py
  tests/callbacks/verification/test_batch_gradient.py
  tests/conftest.py
  tests/datamodules/test_datamodules.py
  tests/datamodules/test_experience_sources.py
  tests/datasets/test_array_dataset.py
  tests/datasets/test_base_dataset.py
  tests/datasets/test_datasets.py
  tests/losses/test_object_detection.py
  tests/losses/test_rl_loss.py
  tests/metrics/test_aggregation.py
  tests/metrics/test_object_detection.py
  tests/models/gans/unit/test_basic_components.py
  tests/models/rl/unit/test_agents.py
  tests/models/rl/unit/test_memory.py
  tests/models/rl/unit/test_reinforce.py
  tests/models/rl/unit/test_vpg.py
  tests/models/rl/unit/test_wrappers.py
  tests/models/test_detection.py
  tests/models/yolo/unit/test_yolo_layers.py
  tests/utils/test_arguments.py
Labels: refactoring, tests

#1014 ruff: SIM
  pyproject.toml
  setup.py
  src/pl_bolts/callbacks/printing.py
  src/pl_bolts/callbacks/ssl_online.py
  src/pl_bolts/callbacks/verification/batch_gradient.py
  src/pl_bolts/datasets/imagenet_dataset.py
  src/pl_bolts/losses/self_supervised_learning.py
  src/pl_bolts/models/detection/yolo/yolo_module.py
  src/pl_bolts/models/rl/common/agents.py
  src/pl_bolts/models/rl/common/memory.py
  src/pl_bolts/models/self_supervised/simclr/simclr_finetuner.py
  src/pl_bolts/models/self_supervised/simclr/simclr_module.py
  src/pl_bolts/models/self_supervised/swav/swav_finetuner.py
  src/pl_bolts/models/self_supervised/swav/swav_module.py
  src/pl_bolts/models/self_supervised/swav/swav_resnet.py
  src/pl_bolts/optimizers/lars.py
  src/pl_bolts/utils/semi_supervised.py
  tests/callbacks/verification/test_batch_gradient.py
  tests/datamodules/test_sklearn_dataloaders.py
  tests/models/yolo/unit/test_yolo_config.py
Labels: refactoring

#905 Move SSL transforms to pl_bolts/transforms
  docs/source/models/self_supervised.rst
  docs/source/transforms/self_supervised.rst
  src/pl_bolts/models/self_supervised/amdim/__init__.py
  src/pl_bolts/models/self_supervised/amdim/datasets.py
  src/pl_bolts/models/self_supervised/cpc/__init__.py
  src/pl_bolts/models/self_supervised/cpc/cpc_finetuner.py
  src/pl_bolts/models/self_supervised/cpc/cpc_module.py
  src/pl_bolts/models/self_supervised/moco/__init__.py
  src/pl_bolts/models/self_supervised/moco/moco2_module.py
  src/pl_bolts/models/self_supervised/simclr/__init__.py
  src/pl_bolts/models/self_supervised/simclr/simclr_finetuner.py
  src/pl_bolts/models/self_supervised/simclr/simclr_module.py
  src/pl_bolts/models/self_supervised/swav/__init__.py
  src/pl_bolts/models/self_supervised/swav/swav_finetuner.py
  src/pl_bolts/models/self_supervised/swav/swav_module.py
  src/pl_bolts/transforms/self_supervised/amdim_transforms.py
  src/pl_bolts/transforms/self_supervised/cpc_transforms.py
  src/pl_bolts/transforms/self_supervised/moco_transforms.py
  src/pl_bolts/transforms/self_supervised/simclr_transforms.py
  src/pl_bolts/transforms/self_supervised/swav_transforms.py
  tests/models/self_supervised/test_models.py
  tests/models/self_supervised/unit/test_transforms.py
  tests/transforms/test_transforms.py
Labels: documentation, ready, model

#950 Reviewed `LogisticRegression`
  src/pl_bolts/models/regression/logistic_regression.py
  tests/models/regression/__init__.py
  tests/models/regression/test_logistic_regression.py
  tests/models/test_classic_ml.py
Labels: ready, model

#817 Add features to the YOLO model from the latest YOLO variants
  CHANGELOG.md
  docs/source/losses.rst
  pyproject.toml
  src/pl_bolts/losses/object_detection.py
  src/pl_bolts/metrics/object_detection.py
  src/pl_bolts/models/detection/__init__.py
  src/pl_bolts/models/detection/yolo/README.md
  src/pl_bolts/models/detection/yolo/darknet_network.py
  src/pl_bolts/models/detection/yolo/layers.py
  src/pl_bolts/models/detection/yolo/loss.py
  src/pl_bolts/models/detection/yolo/target_matching.py
  src/pl_bolts/models/detection/yolo/torch_networks.py
  src/pl_bolts/models/detection/yolo/types.py
  src/pl_bolts/models/detection/yolo/utils.py
  src/pl_bolts/models/detection/yolo/yolo_config.py
  src/pl_bolts/models/detection/yolo/yolo_layers.py
  src/pl_bolts/models/detection/yolo/yolo_module.py
  src/pl_bolts/utils/__init__.py
  test_detection.sh
  tests/losses/test_object_detection.py
  tests/metrics/test_object_detection.py
  tests/models/test_detection.py
  tests/models/yolo/unit/test_darknet_network.py
  tests/models/yolo/unit/test_target_matching.py
  tests/models/yolo/unit/test_utils.py
  tests/models/yolo/unit/test_yolo_layers.py
Labels: ready, model
