Repository Lightning-Universe/lightning-bolts, pull requests merged in 2023-06, with the labels that each got.

#1030 ci: timeout & DATASETS_PATH
  .azure/gpu-tests.yml
  .github/workflows/ci-tests.yml
  requirements/test.txt
  tests/__init__.py
  tests/callbacks/verification/test_batch_gradient.py
  tests/models/rl/integration/test_actor_critic_models.py
  tests/models/rl/integration/test_policy_models.py
  tests/models/rl/integration/test_value_models.py
  tests/models/rl/unit/test_a2c.py
  tests/models/rl/unit/test_reinforce.py
  tests/models/rl/unit/test_sac.py
  tests/models/rl/unit/test_vpg.py
  tests/models/self_supervised/test_ssl_scripts.py
  tests/models/test_scripts.py
Labels: enhancement

#1034 ci: update testing matrix
  .azure/gpu-tests.yml
  .github/workflows/ci-tests.yml
  pyproject.toml
  requirements/test.txt
  tests/datamodules/test_datamodules.py
  tests/datasets/test_base_dataset.py
  tests/models/gans/integration/test_gans.py
  tests/models/rl/integration/test_value_models.py
  tests/models/self_supervised/test_models.py
  tests/models/self_supervised/test_resnets.py
  tests/models/test_detection.py
  tests/models/test_scripts.py
  tests/models/test_vision.py
Labels: enhancement, ci/cd

#1038 unify number prefix
  docs/source/models/self_supervised.rst
  src/pl_bolts/datasets/imagenet_dataset.py
  src/pl_bolts/datasets/ssl_amdim_datasets.py
  src/pl_bolts/losses/self_supervised_learning.py
  src/pl_bolts/models/rl/ppo_model.py
  src/pl_bolts/models/self_supervised/amdim/amdim_module.py
  src/pl_bolts/models/self_supervised/amdim/datasets.py
  src/pl_bolts/models/self_supervised/cpc/cpc_module.py
  src/pl_bolts/models/self_supervised/swav/loss.py
  src/pl_bolts/models/self_supervised/swav/swav_module.py
  src/pl_bolts/models/self_supervised/swav/swav_resnet.py
  src/pl_bolts/transforms/self_supervised/ssl_transforms.py
  src/pl_bolts/transforms/self_supervised/swav_transforms.py
  src/pl_bolts/utils/semi_supervised.py
  tests/models/self_supervised/test_models.py
  tests/models/test_scripts.py
Labels: documentation, refactoring

#1037 ruff: N
  .pre-commit-config.yaml
  pyproject.toml
  src/pl_bolts/callbacks/knn_online.py
  src/pl_bolts/callbacks/ssl_online.py
  src/pl_bolts/callbacks/vision/sr_image_logger.py
  src/pl_bolts/datamodules/sklearn_datamodule.py
  src/pl_bolts/datasets/imagenet_dataset.py
  src/pl_bolts/datasets/ssl_amdim_datasets.py
  src/pl_bolts/losses/self_supervised_learning.py
  src/pl_bolts/models/autoencoders/basic_ae/basic_ae_module.py
  src/pl_bolts/models/autoencoders/basic_vae/basic_vae_module.py
  src/pl_bolts/models/autoencoders/components.py
  src/pl_bolts/models/detection/yolo/yolo_module.py
  src/pl_bolts/models/gans/basic/basic_gan_module.py
  src/pl_bolts/models/gans/basic/components.py
  src/pl_bolts/models/gans/srgan/srgan_module.py
  src/pl_bolts/models/gans/srgan/srresnet_module.py
  src/pl_bolts/models/mnist_module.py
  src/pl_bolts/models/regression/linear_regression.py
  src/pl_bolts/models/regression/logistic_regression.py
  src/pl_bolts/models/rl/common/agents.py
  src/pl_bolts/models/rl/common/networks.py
  src/pl_bolts/models/rl/sac_model.py
  src/pl_bolts/models/self_supervised/amdim/amdim_module.py
  src/pl_bolts/models/self_supervised/amdim/networks.py
  src/pl_bolts/models/self_supervised/byol/byol_module.py
  src/pl_bolts/models/self_supervised/cpc/cpc_module.py
  src/pl_bolts/models/self_supervised/cpc/networks.py
  src/pl_bolts/models/self_supervised/moco/moco2_module.py
  src/pl_bolts/models/self_supervised/simclr/simclr_module.py
  src/pl_bolts/models/self_supervised/simsiam/simsiam_module.py
  src/pl_bolts/models/self_supervised/ssl_finetuner.py
  src/pl_bolts/models/self_supervised/swav/loss.py
  src/pl_bolts/models/vision/pixel_cnn.py
  src/pl_bolts/models/vision/segmentation.py
  src/pl_bolts/models/vision/unet.py
  src/pl_bolts/transforms/self_supervised/ssl_transforms.py
  src/pl_bolts/utils/semi_supervised.py
  tests/datamodules/test_datamodules.py
  tests/datamodules/test_sklearn_dataloaders.py
  tests/models/test_classic_ml.py
  tests/models/test_vision.py
  tests/optimizers/test_lr_scheduler.py
  tests/utils/test_semi_supervised.py
Labels: refactoring

#1042 ci: fix caching data
  .github/workflows/ci-tests.yml
Labels: fix, ci/cd

#991 Check torch max version from the sparseml lib itself
  docs/source/callbacks/sparseml.rst
  docs/source/conf.py
  src/pl_bolts/callbacks/sparseml.py
  src/pl_bolts/utils/__init__.py
  tests/callbacks/test_sparseml.py
Labels: callback

#1043 ci: update releasing
  .github/workflows/pypi-release.yml
Labels: ci/cd

#1045 ci/docs: add preview to each PR
  .github/workflows/ci-docs.yml
  docs/requirements.txt
  docs/source/conf.py
Labels: ci/cd
